{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>

                <div class="error-details">
                    {{ message }}
                </div>
                <div class="error-actions">
                    <a href="{{url_for('public.home')}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
