{% extends "base.html" %}

{% from 'bootstrap/form.html' import render_field %}
{% block content %}
 <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/front_shop/styles_front_shop.css') }}">

    </head>

        <!-- Section-->
      <section class="py-5">
            <h1 class="text-center bg-info" >מוצרים מומלצים </h1>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                 {%for product in featured_product%}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <a href="{{ url_for('product.show', id=product.id) }}"  class="stretched-link"></a>

                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='uploads/'+ product.first_img) }}"  alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    {{product.title}}
                                    <h5 class="fw-bolder">מוצר מומלץ</h5>
                                    <!-- Product price-->
                                    ש"ח{{product.price}}
                                </div>
                            </div>

                        </div>
                    </div>
                    {%endfor%}

                </div>
            </div>
        </section>
          <!-- Section-->
      <section class="py-5">
            <h1 class="text-center bg-info" > במבצע מוצרים </h1>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                   {%for product in sale_products%}
                        <div class="card h-100">
                            <a href="{{ url_for('product.show', id=product.id) }}"  class="stretched-link"></a>
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">במבצע</div>
                            <!-- Product image-->
                              <img class="card-img-top" src="{{ url_for('static', filename='uploads/'+ product.first_img) }}"  alt="..." />
                              <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                     {{product.title}}
                                    <h5 class="fw-bolder">מוצר במבצע</h5>

                                    <span class="text-muted text-decoration-line-through">{{product.price}}</span>
                                    {{product.price}}

                                </div>
                            </div>

                        </div>


                     {%endfor%}
                    </div>
            </div>

        </section>


{% endblock %}