
{% extends "base.html" %}
{% block content %}

	<head>

		
		<!-- Stylesheets -->
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">


		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/unicons-2.0.1/css/unicons.css') }}" >
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" >
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/responsive.css') }}" >
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/night-mode.css') }}">
		
		<!-- Vendor Stylesheets -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/OwlCarousel/assets/owl.carousel.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/OwlCarousel/assets/owl.theme.default.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/semantic/semantic.min.css') }}">

	</head>

	<div class="wrapper">
		<!-- Offers Start -->

		<!-- Offers End -->
		<!-- Categories Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>Shop By</span>
								<h2>Categories</h2>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel cate-slider owl-theme">
							{% for item in top_menu %}
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="{{item.background_img }}" alt="...">
									</div>
									<h4>{{item.title}}</h4>
								</a>
							</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Categories End -->
		<!-- Featured Products Start -->

	</div>
	<!-- Body End -->
	<!-- Footer Start -->

	<!-- Footer End -->

<script src="{{ url_for('static', filename='js/shopHomePage/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/OwlCarousel/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic/semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopHomePage//jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopHomePage/custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopHomePage/offset_overlay.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopHomePage/night-mode.js') }}"></script>
{% endblock content %},