{% extends "base.html" %}
{% block content %}
<head>
<style>
.image_with_badge_container {
    display: inline-block; /* keeps the img with the badge if the img is forced to a new line */
    position: center;
    margin-bottom: 5px;
}

.badge-on-image {
    position: absolute;
    top: -10px; /* position where you want it */
    left: -5px;
    padding: 3px 6px;
}
}
</style>

	<!-- Bootstrap Static Header -->


<!-- For Demo Purpose -->


</head>
 <div class="container">
  <div class="row justify-content-center">
       <h1 class="bg-primary text-white display-2   "></h1>


  </div>
</div>


<!-- Header End -->
	<!-- Body Start -->

<div class="container">



                    <div class="owl-carousel offers-banner owl-theme">

						{%for product in products %}

							{% if product.in_front_banner %}
							<div class="item">

							{% include('products/item_front_banner.html') %}
							</div>
							{% endif %}
							{% endfor %}


				</div>
</div>




<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>{{Language["Shop By"]}}</span>
								<h2> {{Language["Categories"]}}</h2>
							</div>
						</div>
					</div>
					   <div class="owl-carousel offers-banner owl-theme">


					   {% for item in categories%}
						 {% if item.is_active %}

							 <div {% if loop.index ==1 %}  class="item active" {%else %}class="item"  {% endif %}>
								{% include('products/category_item.html') %}
							 </div>

							{% endif %}
							 {% endfor %}

				</div>


				</div>
			</div>
		<!-- Categories End -->
		<!-- Featured Products Start -->

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>{{Language["For You"]}}</span>
								<h2>{{Language["Top Featured Products"]}}</h2>
							</div>



						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel featured-slider owl-theme">
							{% for product in products %}
							{% if product.get_is_featured %}
							<div class="item">

                                {% include('products/item_front.html') %}
							</div>
							{% endif %}
							{% endfor %}

						</div>
					</div>
				</div>
			</div>

		<!-- Featured Products End -->
	<!-- Best Values Offers Start -->

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>{{Language["For You"]}}</span>
								<h2>{{Language["On Sale"]}}</h2>
							</div>

						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel featured-slider owl-theme">
							{% for product in products %}
							{% if product.on_sale%}

                                <div class="item">
								 {% include('products/item_front.html') %}
							</div>
							{% endif %}
							{% endfor %}

						</div>

					</div>
				</div>
			</div>

	<!-- Best Values Offers End -->

</div>
{% endblock %}
