  {% import 'dashboard/_macros.html' as macros%}
{% extends 'dashboard/dashboard_layout.html' %}
<head>

</head>
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-style.css') }}">


						<div class="row justify-content-between">
							<form>
							<table>
								<row>
									<td>
										<select class="form-control" name="status" id="status">
										<option value="" disabled selected hidden>Status</option>
										{% for stat in order_stats_kinds%}
										<option value="{{stat.value}}">{{stat.name}}</option>
										{% endfor %}
                                	</select>

									</td>
									<td>
										 <input type="text" name="order_number" class="float-right form-control"
                                        placeholder="Order #">
									</td>

									<td>
										<button class="status-btn hover-btn" type="submit">Search Order</button>
									</td>
								</row>
							</table>
						</form>
							<div class="col-lg-12 col-md-12">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>All Orders</h4>
									</div>
									<div class="card-body-table">
										<div class="table-responsive">
											<table class="table ucp-table table-hover">
												<thead>
												  <tr>
                                {% for th in props.values() %}
                                <th>{{th}}</th>
                                {% endfor %}
                                <th>Operation</th>
                            </tr>
												</thead>
												<tbody>
													 {% for item in items %}
														<tr>
															{% for prop in props.keys() %}
															<td>{{ item | attr(prop) }}</td>
															{% endfor %}
															<td>
																<a href="{{url_for('dashboard.order_detail', id=item.id)}}"
																	class="btn btn-info btn-sm"><i class="fas fa-eye"></i</a>
															</td>
															<td>
																<a href="{{url_for('dashboard.order_edit', id=item.id)}}"
																	class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
															</td>

															<td>
																<a href="{{url_for('dashboard.order_del', id=item.id)}}"><i class="fas fa-trash"></i></a>
															</td>
														</tr>
													{% endfor %}

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
                        </div>

 {% endblock %}