{% import 'dashboard/_macros.html' as macros%}
{% extends 'dashboard/dashboard_layout.html' %}
<head>

</head>
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-style.css') }}">

   <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Orders</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="orders.html">Orders</a></li>
                            <li class="breadcrumb-item active">Order View</li>
                        </ol>
                        <div class="row">
							<div class="col-xl-12 col-md-12">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h2 class="title1458">Invoice</h2>
										<span class="order-id">Order {{order.token}}</span>
									</div>
									<div class="invoice-content">
										<div class="row">
											<div class="col-lg-6 col-sm-6">
												<div class="ordr-date">
													<b>Order Date :</b> {{order.created_at}}
												</div>
											</div>
											<div class="col-lg-6 col-sm-6">
												<div class="ordr-date right-text">

													 {{order.shipping_address | safe}}
												</div>
											</div>
											<div class="col-lg-12">
												<div class="card card-static-2 mb-30 mt-30">
													<div class="card-title-2">
														<h4>Recent Orders</h4>
													</div>
													<div class="card-body-table">
														<div class="table-responsive">
															<table class="table ucp-table table-hover">
															 <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Product</th>
                                        <th>SKU</th>
                                        <th>Unit Price</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                              								  <tbody>
                                    {% for item in order.lines %}
                                    <tr>
                                        <td>{{item.quantity}}</td>
                                        <td>
                                            <a href="{{url_for('dashboard.product_detail', id=item.product_id)}}"
                                                target="_blank">
                                                {{item.product_name}}
                                            </a>
                                        </td>
                                        <td>{{item.product_sku}}</td>
                                        <td>${{item.unit_price_net}}</td>
                                        <td>${{item.quantity * item.unit_price_net}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-7"></div>
											<div class="col-lg-5">
												<div class="order-total-dt">
													<div class="order-total-left-text">
														Sub Total
													</div>
													<div class="order-total-right-text">
														${{order.total_net}}
													</div>
												</div>
												<div class="order-total-dt">
													<div class="order-total-left-text">
														Delivery Fees
													</div>
													<div class="order-total-right-text">
														${{order.shipping_price_net}}
													</div>
												</div>
												<div class="order-total-dt">
													<div class="order-total-left-text">
														Discount
													</div>
													<div class="order-total-right-text">
														$0
													</div>
												</div>
												<div class="order-total-dt">
													<div class="order-total-left-text fsz-18">
														Total Amount
													</div>
													<div class="order-total-right-text fsz-18">
														${{order.total}}
													</div>
												</div>
											</div>
											<div class="col-lg-7"></div>

											<div class="col-lg-5">
												<div class="select-status">
													<h4>Change Status</h4>
											  <form  id="product-form" role="form" class="product-form1 clearfix needs-validation"  method="post"  action="{{ url_for('dashboard.order_edit',id=order.id) }}"  enctype="multipart/form-data">

												<select class="form-control" name="status" id="status">
												<option value="" disabled selected hidden>{{order.status_human}}</option>
												{% for stat in order_stats_kinds%}
												<option value="{{stat.value}}">Current: {{stat.name}}</option>
												{% endfor %}
												</select>
												<div class="input-group-append">
													  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

													<button class="status-btn hover-btn" type="submit">Submit</button>
												</div>
											  </form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

 {% endblock %}