<head>
	 <style>
        .thumbnail {
			height: 50px;
			width: 50px;
			border: 2px solid #e97117;
			background-color: #f8f8ec;
			padding: 2em;
}
    </style>
</head>

{% if line.product %}

<div class="cart-item">
					<div class="cart-product-img">
					{% if line.product.image_url() %}
        				<div class="cart-product-img">
						<img src={{ line.product.image_url() }}>
       				 </div>
					{% endif %}

					</div>
					<div class="cart-text">
						<h4>{{line.product.title}}
                         {% if line.variant.attribute_map %}
                         {% for attribute, value in line.variant.attribute_map.items() %} {{ attribute }}:{{value  }}{% endfor %}
                        {% endif %} </h4>

						<div class="qty-group">
							<div class="quantity buttons_added">
								<input type="button" value="-" class="minus minus-btn">
								<input type="number" step="1" onchange="update_amounts()" name="qty_{{line.id}}" id="qty_{{line.id}}" value="{{ line.quantity }}" class="input-text qty text">
								<input type="button" value="+" class="plus plus-btn">
							</div>
								<div class="cart-item-price">{{line.product.basic_price}} <span>{{line.product.on_sale}}</span></div>

						</div>

						<button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
					</div>
				</div>


{% endif %}