{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">

                <div class="cart-top-total">
                    <div class="cart-total-dil">
                        <h4>{{ settings['project_title'].value }}</h4>
                        <span>$34</span>
                    </div>
                    <div class="cart-total-dil pt-2">
                        <h4>Delivery Charges</h4>
                        <span>$o</span>
                    </div>
                </div>
                <div class="side-cart-items">
                      {% for line in current_user_cart.lines %}
                    <div class="cart-item">
                        <div class="cart-product-img">
                            <img src="{{ url_for('static', filename='uploads/'+ line.product.first_img) }}" alt="">
                            <div class="offer-badge"></div>
                        </div>
                        <div class="cart-text">
                            <h4>{{ line.product }}</h4>


                            <div class="qty-group">
                                <div class="quantity buttons_added">
                               <form method = "post" role="form" class="product-form1 clearfix needs-validation" action="{{ url_for('checkout.update_cart', id=line.id) }}"   enctype="multipart/form-data">

                                    <input type="button" value="-" class="minus minus-btn">
                                    <input type="number" step="1"  onchange="submit()" id="quantity_" name="quantity_" value="{{ line.quantity }}" class="input-text qty text">
                                    <input type="button" value="+" class="plus plus-btn">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                  </form>
                                </div>
                            </div>
                            </div>
                                 <div class="cart-text">
                                    <form method = "post" role="form" class="product-form1 clearfix needs-validation" action="{{ url_for('checkout.update_cart', id=line.id) }}"   enctype="multipart/form-data">

                         <button onclick="submit()" name="quantity_"  value="0" ><i class="fa fa-trash fa-lg" style='font-size:36px' aria-hidden="true"></i></button>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    </form>

                                 </div>
                                <div class="cart-item-price">{{line.subtotal}}</div>
                                </div>

                            <button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
                        </div>
                    </div>
                        {% endfor %}
                </div>
            </div>

                <div class="main-total-cart">
                    <h2>Total</h2>
                    <span>{{current_user_cart.total}}</span>
                </div>
                <div class="checkout-cart">

                <a href="{{ url_for('checkout.checkout_note') }}" class="cart-checkout-btn hover-btn"> Proceed to Checkout</a>
                </div>

{% endblock content %}

