

{% if line.product %}

<div class="cart-item">
	{% if line.product.image_url() %}
        <div class="cart-product-img">

			      <img src={{ line.product.image_url() }}>
        </div>
		{% endif %}
		<div class="cart-text">
						<h4>{{line.product.title}}
                         {% if line.variant.attribute_map %}
                         {% for attribute, value in line.variant.attribute_map.items() %} {{ attribute }}:{{value  }}{% endfor %}
                        {% endif %} </h4>

						<div class="qty-group">
							<div class="quantity buttons_added">
								<input type="button" value="-" class="minus minus-btn">
								<input type="number" step="1" onchange="update_amounts()" name="qty_{{line.id}}" id="qty_{{line.id}}" value="{{ line.quantity }}" class="input-text qty text">
								<input type="button" value="+" class="plus plus-btn">
							</div>
							  <input type="hidden" value={{line.variant.product.price}} class="price" >
								<div class="cart-item-price" id="amount" name="amount">{{ line.subtotal }} </div>
                           		</div>


                    </div>
	 				<a class="click_me_class" href="javascript:void(0)"><i class="uil uil-multiply"></i></a>

</div>
{% endif %}