{% extends "base.html" %}
{% block content %}
  {% if current_user_cart.lines %}
<div class="wrapper">

		<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-7">
						<div id="checkout_wizard" class="checkout accordion left-chck145">

                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Cart</h5>
                    </div>



                        {% for line in current_user_cart.lines %}
                            {% if line.product %}
                          <div class="cart-item">
					<div class="cart-product-img">

						 <img class="lazyload lazypreload" src="{{ url_for('static', filename='uploads/'+ line.product.first_img) }}" width="60" />

						<div class="offer-badge"></div>
					</div>
					<div class="cart-text">
						<h4>{{ line.product }}</h4>
                         <form method = "post" role="form" class="product-form1 clearfix needs-validation" action="{{ url_for('checkout.update_cart', id=line.id) }}"   enctype="multipart/form-data">

						<div class="qty-group">
							<div class="quantity buttons_added">
								<input type="button" value="-" class="minus minus-btn">
								 <input type="number" step="1" name="quantity_" onchange="submit()" value="{{ line.quantity }}" id="line.id" class="input-text qty text">
                            	<input type="button" value="+" class="plus plus-btn">
							</div>
							  <div class="cart-item-price">  $ {{ line.subtotal }} </div>

						</div>
                             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                         </form>

                         <form method = "post" role="form" class="product-form1 clearfix needs-validation" action="{{ url_for('checkout.update_cart', id=line.id) }}"   enctype="multipart/form-data">

						<button type="submit" class="cart-close-btn"><i class="fa fa-times"></i></button>
                          <input type="hidden" step="1" name="quantity_" value="0" id="line.id" class="input-text qty text">
                             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                         </form>

					</div>
				</div>

                            {% endif %}
                        {%  endfor %}

							<div class="main-total-cart">
								<h2>Total</h2>
								<span>${{ current_user_cart.subtotal }}</span>
							</div>


                    </div>
                </div>

					</div>
					<div class="col-lg-4 col-md-5">
						<div class="pdpt-bg mt-0">
                              <form method = "post" role="form" class="product-form1 clearfix needs-validation" action="{{ url_for('checkout.Cart_Checkout') }}"   enctype="multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

							<div class="right-cart-dt-body">
								        <h5 >Delivery</h5>
                                                <div class="form-group">
                                                    <div class="rpt100">
														<ul class="radio--group-inline-container_1">

                                                                       {% for method in shipping_methods %}
                                                                          <li>
                                                                            <div class="radio-item_1">
                                                                              <input type="radio" name="shipping_method" value="{{ method.id }}" id="shipping_{{ method.id }}" {% if loop.first %}checked{%endif%}>
                                                                                <label class="radio-label_1" for="shipping_{{ method.id }}">{{ method }}</label>
                                                                            </div>
                                                                          </li>
                                                                          {% endfor %}
                                                                </ul>

                                                         </div>





                                          </div>


                                               <h5 >Payment </h5>
                                                <div class="form-group">
                                                    <div class="rpt100">
														<ul class="radio--group-inline-container_1">
                                                           <li>
                                                               <div class="radio-item_1">
                                                                 <input type="radio" name="payment_method" value="Cash " id="payment_method_1" >
                                                                 <label class="radio-label_1" for="payment_method_1"> "Cash" </label>
                                                               </div>
                                                              </li>
                                                               <li>
                                                                  <div class="radio-item_1">
                                                                 <input type="radio" name="payment_method" value="Credit Card" id="payment_method_2" checked>
                                                                 <label class="radio-label_1" for="payment_method_1"> Credit Card </label>
                                                                  </div>
                                                           </li>
                                                                   <li>
                                                                     <div class="radio-item_1">
                                                                       <input type="radio" name="payment_method" value=" Bit or Pay-Pal " id="payment_method_3" >
                                                                    <label class="radio-label_1" for="payment_method_3"> Bit or Pay-Pal </label>
                                                                     </div>
                                                           </li>


                                                         </ul>
                                                     </div>
                                               </div>


							</div>


                            <div class="main-total-cart">
								<h2>Sub- Total</h2>
								<span>${{ current_user_cart.subtotal }}</span>
							</div>
						<div class="payment-secure">
                            <button type="submit" class="cart-checkout-btn hover-btn"><i class="fas fa-arrow-right"></i>Proceed to Checkout</button>
            			</div>
                    </form>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
   {% else %}
    <div class="cart__empty">
        <img class="lazyload lazypreload" data-src="{{ url_for('static', filename='img/empty-cart-bg.png') }}">

        <h2>There are no products in your shopping cart.</h2>
        <a href="{{ url_for('public.home') }}" class="btn btn-primary">Check out our sales</a>
    </div>
    {% endif %}


{% endblock content %}