{% extends "base.html" %}
{% block content %}

<form method = "post" role="form" class="product-form1 clearfix needs-validation" action="{{ url_for('checkout.delivery_time_date') }}"   enctype="multipart/form-data">

<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							 <h1 class="col-md-5 col-sm-12 col-xs-12">Checkout</h1>
								  <div class="checkout-wrap col-md-7 col-sm-12 col-xs-12 pull-right">
									   <ul id="progressbar">
                            <li id="step1">
                                <strong>Step 1</strong>
                            </li>
                            <li class="active" id="step2"><strong>Step 2</strong></li>
                            <li id="step3"><strong>Step 3</strong></li>
                            <li id="step4"><strong>Step 4</strong></li>
                        </ul>
								  </div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

	<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-7">
						<div id="checkout_wizard" class="checkout accordion left-chck145">
						   <div class="form-group">
									<label class="control-label">Select Date and Time*</label>
											<div class="date-slider-group">
												<div class="owl-carousel date-slider owl-theme">
													<div class="item">
														<div class="date-now">
															<input type="radio" id="dd1"  value= "Sunday"name="address1" checked="">
															<label for="dd1">Sunday</label>
														</div>
													</div>
													<div class="item">
														<div class="date-now">
															<input type="radio" id="dd2" value= "Monday" name="address1">
															<label for="dd2">Monday</label>
														</div>
													</div>
													<div class="item">
														<div class="date-now">
															<input type="radio" id="dd3" value= "Tuesday" name="address1">
															<label for="dd3">Tuesday</label>
														</div>
													</div>
													<div class="item">
														<div class="date-now">
															<input type="radio" id="dd4" value= "wendsday" name="address1">
															<label for="dd4">wendsday</label>
														</div>
													</div>
													<div class="item">
														<div class="date-now">
															<input type="radio" id="dd5" value= "Thursday" name="address1">
															<label for="dd5">Thursday</label>
														</div>
													</div>
													<div class="item">
														<div class="date-now">
															<input type="radio" id="dd6" value= "Friday" name="address1">
															<label for="dd6">Friday</label>
														</div>
													</div>
													<div class="item">
														<div class="date-now">
															<input type="radio" value= "Saturday" id="dd7" name="address1">
															<label for="dd7">Saturday</label>
														</div>
													</div>

												</div>
											</div>
											<div class="time-radio">
												<div class="ui form">
													<div class="grouped fields">
														<div class="field">
															<div class="ui radio checkbox chck-rdio">
																<input type="radio" name="fruit" value="8.00AM - 10.00AM" checked="" tabindex="0" class="hidden">
																<label>8.00AM - 10.00AM</label>
															</div>
														</div>
														<div class="field">
															<div class="ui radio checkbox chck-rdio">
																<input type="radio" name="fruit" value="10.00AM - 12.00PM" tabindex="0" class="hidden">
																<label>10.00AM - 12.00PM</label>
															</div>
														</div>
														<div class="field">
															<div class="ui radio checkbox chck-rdio">
																<input type="radio" name="fruit" value="12.00PM - 2.00PM" tabindex="0" class="hidden">
																<label>12.00PM - 2.00PM</label>
															</div>
														</div>
														<div class="field">
															<div class="ui radio checkbox chck-rdio">
																<input type="radio" name="fruit" value="2.00PM - 4.00PM" tabindex="0" class="hidden">
																<label>2.00PM - 4.00PM</label>
															</div>
														</div>
														<div class="field">
															<div class="ui radio checkbox chck-rdio">
																<input type="radio" name="fruit" tabindex="0" value="4.00PM - 6.00PM" class="hidden">
																<label>4.00PM - 6.00PM</label>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
						</div>
						<button type="submit" class="collapsed next-btn16 hover-btn"> Proccess to payment </button>
					</div>
					{% include "checkout/cart_side_tempalte.html" %}
				</div>
			</div>
		</div>

	</div>

</form>
 <script>
    $(document).ready(function () {
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    if (".nav-tabs") hasClass(".active"); {
      $(".checkout-bar li").addClass("active");
    }
  });
});
  </script>
{% endblock content %}