
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
     <div class="card">
         <div class="card-header p-4">
        <h3 class="mb-0">  {{Language["Your order has been accepted payment succed"]}}</h3>
              <div class="float-left">
                  <table class="table table-striped">
                 <tr>

                             <td class="left strong">{{Language["order Number"]}}</td>
                             <td class="right">{{order.token}}</td>
                 </tr>
                 <tr>

                             <td class="left strong">{{Language["Date"]}}</td>
                             <td class="right">{{ order.created_at}}</td>
                 </tr>
                 {% with delivery_address=order.get_shipment_address() %}
                  <tr>

                             <td class="left strong">{{Language["contact-name"]}}</td>
                             <td class="right">{{delivery_address.contact_name}}</td>
                 </tr>
                   <tr>

                             <td class="left strong">{{Language["contact-phone"]}}</td>
                             <td class="right">{{delivery_address.contact_phone}}</td>
                 </tr>
                     <tr>
                       <td class="left strong">{{Language["Delivery"]}}</td>
                       <td class="right">{{delivery_address.address}},{{delivery_address.city}}</td>
                 </tr>
                  {% endwith %}
                      <tr>

                             <td class="left strong">{{Language["Date and time"]}}</td>
                             <td class="right">{{order.shipping_time_date}}</td>
                 </tr>


                  </table>
         </div>
         </div>
         <div class="card-body">
             <div class="row mb-4">

                 <div class="col-sm-6 ">
                     <h5 class="mb-3">{{Language["Costumer Details"]}}</h5>
                     <h5 class="mb-3"> {% if user_address %}{{user_address.contact_name}} {% else %} {{current_user.username}} {% endif %}</h5>
                     <h3 class="text-dark mb-1"></h3>
                     <div>{{user_address.address}} </div>
                     <div> {{user_address.city}}</div>
                     <div>Email: {{user_address.email}}</div>
                    <div>Phone:  {{user_address.contact_phone}}</div>

                 </div>


             </div>
             <div class="table-responsive-sm">
                 <table class="table table-striped">
                     <thead>
                         <tr>

                             <th>{{Language["Item"]}} </th>

                             <th class="right">{{Language["Price"]}}</th>
                             <th class="center">{{Language["Qty"]}}  </th>
                             <th class="right">{{Language["Total"]}} </th>
                         </tr>
                     </thead>
                     <tbody>
                        {%  for item in order.lines %}

                         <tr>

                             <td class="left strong">{{item.variant}}</td>
                             <td class="right">{{item.unit_price_net}}</td>
                             <td class="center">{{item.quantity}}</td>
                             <td class="right">{{item.get_total()}}</td>
                         </tr>
                        {% endfor %}
                     </tbody>
                 </table>
             </div>
             <div class="row">
                 <div class="col-lg-4 col-sm-5">
                 </div>
                 <div class="col-lg-4 col-sm-5 ml-auto">
                     <table class="table table-clear">
                         <tbody>
                            <tr>
                                 <td class="left">
                                     <strong class="text-dark">{{Language["Sub total"]}}</strong> </td>
                                 <td class="right">
                                     <strong class="text-dark">{{ order.total_net }}</strong>
                                 </td>
                             </tr>
                            <tr>
                                 <td class="left">
                                     <strong class="text-dark">{{Language["Delivery Charges"]}}</strong> </td>
                                 <td class="right">
                                     <strong class="text-dark">{{ order.shipping_price_net }}</strong>
                                 </td>
                             </tr>
                              <tr>
                                 <td class="left">
                                     <strong class="text-dark">{{Language["Delivery Charges"]}}</strong> </td>
                                 <td class="right">
                                     <strong class="text-dark">{{ order.shipping_price_net }}</strong>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="left">
                                     <strong class="text-dark">{{Language["Total"]}}</strong> </td>
                                 <td class="right">
                                     <strong class="text-dark">{{order.total}}</strong>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
              <div class="row mb-4">

                 <div class="col-sm-6 ">
                     <h5 class="mb-3">{{Language["Payment"]}}</h5>
                     <h5 class="mb-3"> {{Language[order.payment_method]}} {{order.payment_method}}</h5>
                </div>

                <div class="col-sm-6 ">
                 {% with delivery_address=order.get_shipment_address() %}
                 {% with shipment_method= order.shipping_method %}
                 {% if shipment_method.address_needed %}

                    <h3 class="mb-3">{{Language["Delivery needed"]}} </h3>


                     <h6 >{{Language["contact person and delivery address"]}}</h6>
                     <h6 > {{delivery_address.contact_name}}</h6>

                     <div>{{delivery_address.address}} </div>
                     <div> {{delivery_address.city}}</div>
                     <div>Email: {{delivery_address.email}}</div>
                     <div>Phone:  {{delivery_address.contact_phone}}</div>

                 {% else %}
                    <h3 class="mb-3">{{Language["No delivery"]}} </h3>
                     <h6 >{{Language[shipment_method.title]}}</h6>
                 {% endif %}
                 {% endwith %}
                 {% endwith %}
                 </div>
             </div>
         </div>

     </div>
 </div>
