
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
     <div class="card">
         <div class="card-header p-4">
         <div class="float-center">
             <h3 class="mb-0">  {{Language["Your order has been accepted payment succed"]}}</h3>
         </div>
         </div>
         <div class="card-body">

            <div class="float-left">
                  <table class="table table-striped">
                 <tr>

                             <td class="left strong">{{Language["order Number"]}}</td>
                             <td class="right">{{order.token}}</td>
                 </tr>
                 <tr>

                             <td class="left strong">{{Language["Date"]}}</td>
                             <td class="right">{{ order.created_at}}</td>
                 </tr>
               {% with shipment_method= order.shipping_method %}
                      {% if shipment_method.address_needed %}

                <tr>

                             <td class="left strong">{{Language["Delivery to costumer"]}}</td>
                             <td class="right">{{Language[shipment_method.title]}}</td>
                 </tr>

                 {% endif %}
                   {% endwith %}
                 {% with delivery_address=order.get_shipment_address() %}
                  <tr>

                             <td class="left strong">{{Language["contact-name"]}}</td>
                             <td class="right">{{delivery_address.contact_name}}</td>
                 </tr>
                   <tr>

                             <td class="left strong">{{Language["contact-phone"]}}</td>
                             <td class="right">{{delivery_address.contact_phone}}</td>
                 </tr>
                     <tr>
                       <td class="left strong">{{Language["address"]}}</td>
                       <td class="right">{{delivery_address.address}},{{delivery_address.city}}</td>
                 </tr>
                  {% endwith %}
                      <tr>

                             <td class="left strong">{{Language["Date and time"]}}</td>
                             <td class="right">{{order.shipping_time_date}}</td>
                 </tr>
                      <tr>

                             <td class="left strong">{{Language["Payment"]}}</td>
                             <td class="right">{{Language[order.payment_method]}} {{order.payment_method}}</td>
                 </tr>
                      <tr>

                             <td class="left strong">{{Language["Payment status"]}}</td>
                             <td class="right">{{Language[order.status]}}</td>
                 </tr>
                      <tr>

                             <td class="left strong">{{Language["Pay Pal Payment ID"]}}</td>
                             <td class="right">{{order.paymentID}}</td>
                 </tr>
                  </table>
         </div>
             <div class="row"></div>
             <div class="table-responsive-sm">
                 <table class="table table-striped">
                     <thead>
                         <tr>

                             <th>{{Language["Item"]}} </th>

                             <th class="right">{{Language["Price"]}}</th>
                             <th class="center">{{Language["Qty"]}}  </th>
                             <th class="right">{{Language["Total"]}} </th>
                         </tr>
                     </thead>
                     <tbody>
                        {%  for item in order.lines %}

                         <tr>

                             <td class="left strong">{{item.variant.display_product()}} - <h5>{% for attribute, value in item.variant.attribute_map.items() %} {{ attribute }}:{{value  }}{% endfor %}</h5>  </td>
                             <td class="right">{{item.unit_price_net}}</td>
                             <td class="center">{{item.quantity}}</td>
                             <td class="right">{{item.get_total()}}</td>
                         </tr>
                        {% endfor %}
                     </tbody>
                 </table>
             </div>
             <div class="row">
                 <div class="col-lg-4 col-sm-5">
                 </div>
                 <div class="col-lg-4 col-sm-5 ml-auto">
                     <table class="table table-clear">
                         <tbody>
                            <tr>
                                 <td class="left">
                                     <strong class="text-dark">{{Language["Sub total"]}}</strong> </td>
                                 <td class="right">
                                     <strong class="text-dark">{{ order.total_net }}</strong>
                                 </td>
                             </tr>
                            <tr>
                                 <td class="left">
                                     <strong class="text-dark">{{Language["Delivery Charges"]}}</strong> </td>
                                 <td class="right">
                                     <strong class="text-dark">{{ order.shipping_price_net }}</strong>
                                 </td>
                             </tr>
                              <tr>
                                 <td class="left">
                                     <strong class="text-dark">{{Language["Delivery Charges"]}}</strong> </td>
                                 <td class="right">
                                     <strong class="text-dark">{{ order.shipping_price_net }}</strong>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="left">
                                     <strong class="text-dark">{{Language["Total"]}}</strong> </td>
                                 <td class="right">
                                     <strong class="text-dark">{{order.total}}</strong>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
              <div class="row mb-4">


             </div>
         </div>

     </div>
 </div>
