 {% extends "base.html" %}
{% block content %}

<div class="wrapper">
			<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							 <h1 class="col-md-5 col-sm-12 col-xs-12">{{Language["Checkout"]}}</h1>
								  <div class="checkout-wrap col-md-7 col-sm-12 col-xs-12 pull-right">
									   <ul id="progressbar">
                            <li  id="step1">
                                <strong>{{Language["Delivery Address"]}} </strong>
                            </li>
                            <li  id="step2"><strong>{{Language["Select Date and Time"]}}</strong></li>
                            <li class="active" id="step3"><strong>{{Language["Payment"]}}</strong></li>

                        </ul>
								  </div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

	<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-7">
						<div id="checkout_wizard" class="checkout accordion left-chck145">
						   <div class="form-group">
									<h2 id="pay-pal">{{Language["Pay with all credit cards"]}}</h2>  </label>
										 <div id="paypal-button"></div>

										</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>


<script src="https://www.paypalobjects.com/api/checkout.js"></script>

  <script>
     var CREATE_PAYMENT_URL  =  "{{ url_for('order.payment') }}";
    var EXECUTE_PAYMENT_URL =  "{{ url_for('order.execute') }}";
	var CANCEL_PAYMENT_URL =  "{{ url_for('order.cancel') }}";

paypal.Button.render({
   env: 'sandbox',
   payment: function(resolve, reject) {

     paypal.request.post(CREATE_PAYMENT_URL, {


 // js object used to create payment
     }).then(function(data) {
         resolve(data.paymentID);

     }).catch(function(err) {
         reject(err);
         var elem = document.getElementById('pay-pal').innerHTML=err;

     });
   },
   onAuthorize: function(data) {

     paypal.request.post(EXECUTE_PAYMENT_URL, {
      paymentID: data.paymentID,
      payerID:   data.payerID
     }).then(function(res) {

        if (res) {
           var elem = document.getElementById('pay-pal').innerHTML="Your payment is accepted Order is placed";
           	window.location.href = "{{ url_for('order.create_reception',paymentID='ADDSHARE2') }}".replace("ADDSHARE2", paymentIDD)

         } else {
            var elem = document.getElementById('pay-pal').innerHTML="Your payment was declined Order is Not placed";
         }



      }).catch(function(err) { var elem = document.getElementById('pay-pal').innerHTML=err;});
   },
   onCancel: function(data) {

         var elem = document.getElementById('pay-pal').innerHTML="Your payment was canceled";
   }

 }, '#paypal-button');


  </script>




{% endblock content %}