{% extends "base.html" %}
{% block content %}


<div class="wrapper">
	<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							 <h1 class="col-md-5 col-sm-12 col-xs-12">Checkout</h1>
								  <div class="checkout-wrap col-md-7 col-sm-12 col-xs-12 pull-right">
									   <ul id="progressbar">
                            <li id="step1">
                                <strong>Step 1</strong>
                            </li>
                            <li class="active" id="step2"><strong>Step 2</strong></li>
                            <li id="step3"><strong>Step 3</strong></li>
                            <li id="step4"><strong>Step 4</strong></li>
                        </ul>
								  </div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	<div class="all-product-grid">
			<div class="container">
			<form method = "post" role="form" class="product-form1 clearfix needs-validation" action="{{ url_for('checkout.payment_details') }}"  enctype="multipart/form-data">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<div class="row">
						<div class="col-lg-12">
							<div class="pymnt_title mb-4">
								<h4>{{paymentmethod}}</h4>
							</div>
						</div>
						{% if paymentmethod == "Credit Card" %}
						<div class="col-lg-6">
						<div class="form-group mt-1">
																	<label class="control-label">Holder Name*</label>
																	<div class="ui search focus">
																		<div class="ui left icon input swdh11 swdh19">
																			<input class="prompt srch_explore" type="text" name="holdername" value="" id="holder[name]" required="" maxlength="64" placeholder="Holder Name">
																		</div>
																	</div>
																</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group mt-1">
								<label class="control-label">Card Number*</label>
								<div class="ui search focus">
									<div class="ui left icon input swdh11 swdh19">
										<input class="prompt srch_explore" type="text" name="cardnumber" value="" id="card[number]" required="" maxlength="64" placeholder="Card Number">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group mt-1">
								<label class="control-label">Expiration Month*</label>
								<select class="ui fluid search dropdown form-dropdown" name="card[expire-month]">
									<option value="">Month</option>
									<option value="1">January</option>
									<option value="2">February</option>
									<option value="3">March</option>
									<option value="4">April</option>
									<option value="5">May</option>
									<option value="6">June</option>
									<option value="7">July</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								  </select>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group mt-1">
								<label class="control-label">Expiration Year*</label>
								<div class="ui search focus">
									<div class="ui left icon input swdh11 swdh19">
										<input class="prompt srch_explore" type="text" name="card[expire-year]" maxlength="4" placeholder="Year">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group mt-1">
								<label class="control-label">CVV*</label>
								<div class="ui search focus">
									<div class="ui left icon input swdh11 swdh19">
										<input class="prompt srch_explore" name="card[cvc]" maxlength="3" placeholder="CVV">
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						<button  type="submit" class="next-btn16 hover-btn">Place Order</button>
					</div>
		</form>
			</div>

		</div>
 </div>


 <script>
    $(document).ready(function () {
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    if (".nav-tabs") hasClass(".active"); {
      $(".checkout-bar li").addClass("active");
    }
  });
});
  </script>
{% endblock content %}