 {% extends "base.html" %}
{% block content %}

<div class="wrapper">
			<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							 <h1 class="col-md-5 col-sm-12 col-xs-12">{{Language["Checkout"]}}</h1>
								  <div class="checkout-wrap col-md-7 col-sm-12 col-xs-12 pull-right">
									   <ul id="progressbar">
                            <li  id="step1">
                                <strong>{{Language["Delivery Address"]}} </strong>
                            </li>
                            <li  id="step2"><strong>{{Language["Select Date and Time"]}}</strong></li>
                            <li class="active" id="step3"><strong>{{Language["Payment"]}}</strong></li>

                        </ul>
								  </div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

	<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-7">
						<div id="checkout_wizard" class="checkout accordion left-chck145">
						   <div class="form-group">
									<h2>{{Language["Pay with all credit cards"]}}</h2>  </label>
										 <div id="paypal-button"></div>

										</div>
						</div>
					</div>
					{% include "checkout/cart_side_tempalte.html" %}
				</div>
			</div>
		</div>

	</div>


<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>


    var CREATE_PAYMENT_URL  =  "{{ url_for('order.payment') }}";
    var EXECUTE_PAYMENT_URL =  "{{ url_for('order.execute') }}";

    paypal.Button.render({

        env: 'sandbox', // Or 'sandbox'

        commit: true, // Show a 'Pay Now' button
       payment: function() {
            return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                return data.paymentID;
            });
        },

        onAuthorize: function(data) {
        	var paymentIDD= data.paymentID
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID:   data.payerID
            }).then(function(data) {
            	window.location.href = "{{ url_for('order.create_reception',paymentID='ADDSHARE2') }}".replace("ADDSHARE2", paymentIDD)


			});

        }

    }, '#paypal-button');
</script>
{% endblock content %}