{% extends "base.html" %}
{% block content %}
<head>


</head>

		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							 <h1 class="col-md-5 col-sm-12 col-xs-12">{{Language["Checkout"]}}</h1>
								  <div class="checkout-wrap col-md-7 col-sm-12 col-xs-12 pull-right">
									   <ul id="progressbar">
                            <li class="active" id="step1">
                                <strong>{{Language["Delivery Address"]}} </strong>
                            </li>
                            <li id="step2"><strong>{{Language["Select Date and Time"]}}</strong></li>
                            <li id="step3"><strong>{{Language["Payment"]}}</strong></li>

                        </ul>
								  </div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-7">
						<div id="checkout_wizard" class="checkout accordion left-chck145">
						    {% include "account/address_form.html" %}
						</div>
					</div>
					<div class="col-lg-4 col-md-5">
						{% include "checkout/cart_side_tempalte.html" %}
					</div>
				</div>
			</div>
		</div>



 <script>
    $(document).ready(function () {
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    if (".nav-tabs") hasClass(".active"); {
      $(".checkout-bar li").addClass("active");
    }
  });
});
  </script>
{% endblock content %}