<div class="container">
        <div class="row">
          <div class="col-12">
               <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        {% if products %}
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    {% set product= products[0] %}
                                   {% include('products/_items.html') %}

                                </div>

                            </div>
                        </div>
                        {% endif %}
                         {% for i in range(products| length) %}

                           {% set product= products[i] %}
                            <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                      {% include('products/_items.html') %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">

                <a class="btn btn-primary btn-md center-block" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
              <a class="btn btn-primary btn-md center-block" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>

            </div>
            </div>
        </div>
    </div>