<head>
	 <style>
        .thumbnail2 {
			height: 350px;
			width: 350px;
			border: 2px solid #e97117;
			background-color: #f8f8ec;
			padding: 2em;
}
    </style>
</head>

<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										 <div class="thumbnail2">
										<img  src={{ product.image_url() }} width="250px" height="250px">
										</div>

									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<p>{{Language["served today"]}}</p>
											<div class="top-text-1">{{business.name}}</div>
											<span>{{product.category.title}}</span>
										</div>
										<a href="{{ product.category.get_absolute_url()}}"  class="Offer-shop-btn hover-btn">{{Language["Shop Now"]}}</a>
									</div>
								</div>