<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/front_shop/shop.css') }}">

<div class="card border-light mb-3 bg-light mb-3  justify-content:center" style="max-width: 18rem;">
    <div class="card-header">
    Featured
  </div>

     {{product.first_img}}
    <img  img height="80px" width="auto"  src="{{ url_for('static', filename='uploads/'+ product.first_img) }}" class="card-img-top" alt="...">
  <div class="card-body" style="height: 13rem; width:13">
    <h5 class="card-title">{{product.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{product.price}}</h6>

   <form  id="product-form" role="form" class="product-form1 clearfix needs-validation"  method="post"  action="{{ url_for('product.product_add_to_cart', id=product.id) }}"  enctype="multipart/form-data">

     <div class="card-link">
         {% product.has_variants %}
         {% if product.has_variants %}

             <select name= "id_variant" class="form-select mb-2" id="validationDefault04" required>

                    <option selected disabled value="">Choose Variant</option>

                    {% for var in  product.variant %}
                           {%if var.is_in_stock %}
                                <option value={{var.id}}>{{var.title}}</option>
                        {% endif %}
                   {% endfor %}

                </select>


      {% endif %}</div>
     <div class="card-link"><button type="submit" class="btn btn-default btn-xs pull-right" type="button">
            <i class="fa fa-cart-arrow-down"></i> Add To Cart</button>

    <input type="number" name="id_quantity" class="form-control" value="1" style="width: 4em" ></div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
   </form>
  </div>
</div>


