

<div class="col-lg-8 col-md-6">

<div class="card">
       <div class="d-flex justify-content-left p-3">



             <span class=" badge rounded-pill bg-warning text-dark float-right "style="font-size: 20px;"><span>{{Language["on sale"]}}    </span></span>

       </div>
 <div class="d-flex justify-content-between p-3">
<h3> <span class="badge badge-secondary bg-secondary ">{{ settings['project_title'].value }}</span></h3>
 </div>
<div class="container">

          <img
            src= {{ product.image_url() }}

            alt="laptop"
          style="height:100px"class="img-rounded center-block" />
</div>


          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p ><a href="#!" class="text-muted center-block">{{product.title}}</a></p>

            </div>

            <div class="d-flex justify-content-between mb-3">

              <h3 class="text-dark mb-0 center-block"><p><del>{{product.discount_price}}{{Language["$"]}} </del> {{product.basic_price}}{{Language["$"]}}</p>  </h3>
            </div>

            <div class="d-flex justify-content-between mb-2">
           	 <h3> <a href="{{ product.get_absolute_url() }}"> <span class="badge badge-secondary  bg-secondary">{{Language["Add to cart"]}}</span></a></h3>

			</div>
          </div>
        </div>
    </div>

