


{% if product.is_active %}
   <form  id="product-form" role="form" class="product-form1 clearfix needs-validation"  method="post"  action="{{ url_for('product.product_add_to_cart', id=product.id) }}"  enctype="multipart/form-data">

  <div class="card rounded-3 mb-4">



          <div class="card-body p-4">
               <div class="d-flex justify-content-around align-items-center">
             <p class="float-right">  <h5>{{product.title}}</h5></p>
               </div>
           <div class="d-flex flex-row justify-content-around align-items-center">
               <div >
                <img src= {{ product.image_url() }}
                  width="100px" height=auto lass="img-sm" alt="Cotton T-shirt">
                 {% if product.on_sale%}
                       <span class="badge badge-pill badge-danger  badge-on-image"><h3>{{Language["on sale"]}}</h3> </span>

                   {% endif %}
               </div>




            <div >
                 <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus minus-btn">
                            <input type="number" step="1" name="id_quantity" value="1" class="input-text qty text">
                            <input type="button" value="+" class="plus plus-btn">
                 </div>

            </div>




               <div >
                 {% if product.on_sale %}
                    <h3 class="text-dark mb-0 center-block"><p><del>{{product.discount_price}}</del> -> {{product.basic_price}} {{Language["$"]}}</p>  </h3>
                   {% else %}
                    <h3 class="text-dark mb-0 center-block"><p>{{product.basic_price}} {{Language["$"]}}</p>  </h3>

                   {% endif %}
              </div>

            <div >
                 <button type="submit" class="btn btn-default btn-lg " type="button"><i class="fa fa-shopping-cart"></i></button>

              </div>
               <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>



            </div>
          </div>

        </div>

  </form>
{% endif  %}


