
{% if product.is_active %}

<div class="card">
  <!-- To do referenc to product details-->
            <div class="container">

                <img src= {{ product.image_url() }} class="img-rounded center-block" width="auto" height="120">



            </div>


           <div class="container">
               <div class="d-flex justify-content-center">
                {%  if product.is_in_stock  or not product.need_check_stock%}

                    <p>Available<span>(In Stock)</span></p>
                {%  else %}
                     <p>Not Available<span>(Not in Stock)</span></p>
                {% endif %}
               </div>
                 <div class="d-flex justify-content-center">
                     <p class="text-md-center"> {{product.title}}</p>
                 </div>
                 <div class="d-flex justify-content-center">
                {% if product.on_sale %}
                    <p>{{product.price}} <span>{{discount_price}}</span></p>
                    {% else %}
                    <p>{{product.price}}{{Language["$"]}} </p>
                {% endif %}
                </div>

                    {% if not product.has_variants %}
                     <form  id="product-form" role="form" class="product-form1 clearfix needs-validation"  method="post"  action="{{ url_for('product.product_add_to_cart', id=product.id) }}"  enctype="multipart/form-data">

                    <div class="d-flex justify-content-center">
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus minus-btn">
                            <input type="number" step="1" name="id_quantity" value="1" class="input-text qty text">
                            <input type="button" value="+" class="plus plus-btn">
                        </div>


                             {%  if product.is_in_stock %}
                                 <button type="submit" class="btn btn-default btn-xs pull-right" type="button"><i class="fa fa-cart-arrow-down"></i> </button>
                            {%  endif %}


                    </div>
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
                  {%  else %}
                        <div >

                        <span class="cart-icon">
                          <div class="card-link">
                             {%  if product.is_in_stock or not product.need_check_stock%}
                               <a href="{{product.get_absolute_url()  }}" > View<i class="fa fa-eye"></i></a>
                              {%  endif %}
                          </div>
                        </span>
                    </div>
                   {% endif  %}
            </div>
 </div>






{% endif %}