<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/front_shop/shop.css') }}">

  <a href="#"><img class="product-image" src="{{ url_for('static', filename='uploads/'+ product.first_img) }}" &amp;alt=""></a>
  <h4>{{product.title}}</h4>

   <div class="price">{{product.price}}</div>
  <form  id="product-form" role="form" class="product-form1 clearfix needs-validation"  method="post"  action="{{ url_for('product.product_add_to_cart', id=product.id) }}"  enctype="multipart/form-data">

   <p> <div class="input-group mb-3"> <input type="number" name="id_quantity" class="form-control" value="1"> </div></p>
   <span>
      {% if product.get_has_variants %}
                <div class="form-group mb-0.5">
                   <select name= "id_variant" class="form-select" id="validationDefault04" required>

                    <option selected disabled value="">Choose Variant</option>

                    {% for var in  product.variant %}
                           {%if var.is_in_stock %}
                                <option value={{var.id}}>{{var.title}}</option>
                        {% endif %}
                   {% endfor %}

                </select>

        </div>
      {% endif %}
  </span>
  <hr>
  <button type="submit" class="btn btn-default btn-xs pull-right" type="button">
      <i class="fa fa-cart-arrow-down"></i> Add To Cart
  </button>
  <button   class="btn btn-default btn-xs pull-left" type="button">
      <i class="fa fa-eye"></i> Details
  </button>
 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

  </form>