

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/front_shop/shop.css') }}">


<!-- Modal -->

<!-- /.container class with content as the id -->


<div class="container">


    <div class="grid">

        <div class="content">
          {% if products %}
            <ul class="rig  col-md-offset-2">
                {% for product in products %}
                <li>
                      {% include('products/_items.html') %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
    <!-- /.container class with content as the id-->
</div>

    <!-- Footer -->


