 <nav class="navbar-inverse" role="navigation">

    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand" href="ecommerce.html"><i class="fa fa-fire"></i> Bootstrap Store</a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">

                <li class="dropdown">

                    <a href="#" class="active dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">

                        <li><a href="category.html">Apparel &amp; Accessories</a></li>
                        <a href="category.html">

                        </a>
                        <li>
                            <a href="category.html"></a><a href="category.html">Baby Products</a></li>

                        <li><a href="category.html">Beauty &amp; Health</a>

                        </li>
                        <li><a href="category.html">Electronics</a></li>

                        <li><a href="category.html">Furniture</a></li>

                        <li><a href="category.html">Home &amp; Garden</a></li>

                        <li><a href="category.html">Luggage &amp; Bags</a></li>

                        <li><a href="category.html">Shoes</a></li>

                        <li><a href="category.html">Sports &amp; Entertainment</a></li>

                        <li><a href="category.html">Watches</a></li>

                        <li class="divider"></li>

                        <li><a href="ecommerce.html">All Categories</a></li>

                    </ul>

                </li>

                <li><a href="#">Link</a></li>

                <li><a href="#">Link</a></li>

            </ul>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" data-toggle="modal" data-target="#myModal">Sign In <i class="fa fa-check"></i></a></li>

                <li><a href="account.html">Account <i class="fa fa-user"></i></a></li>

                <li><a href="#"><span class="badge pull-left">4 Cart </span><i class="fa fa-shopping-cart"></i></a></li>

            </ul>

        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->

</nav>



<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>

                <h2 class="modal-title" id="myModalLabel">Sign In <i class="fa fa-arrow-circle-right"></i></h2>

            </div>

            <div class="modal-body">

                <form class="form-signin" role="form">

                    <h3 class="form-signin-heading">Sign In</h3>

                    <div class="form-group">

                        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Password" required="">

                    </div>

                    <div class="checkbox">

                        <label>

                            <input type="checkbox" value="remember-me"> Remember me

                        </label>

                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In <i class="fa fa-arrow-circle-right"></i></button>

                </form>

            </div>

            <div class="row">

                <div class="col-xs-3">

                    <a href="#" class="btn btn-facebook btn-large btn-caps btn-block">Facebook <span class="icon-facebook"><i class="fa fa-facebook-square"></i></span></a>

                </div>

                <div class="col-xs-3">

                    <a href="" class="btn btn-twitter btn-large btn-caps btn-block">Twitter <span class="icon-twitter"><i class="fa fa-twitter-square"></i></span></a>

                </div>

                <div class="col-xs-3">

                    <a href="" class="btn btn-twitter btn-large btn-caps btn-block">Instagram <span class="icon-instagram"><i class="fa fa-camera-retro"></i></span></a>

                </div>

            </div>

            <div class="modal-footer">

            </div>

        </div>

    </div>

</div>

<!-- Modal End -->
<hr>
<!-- Page Content Starts -->

<div id="content" class="container">

    <div class="row carousel-holder">

        <div class="col-md-12">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">

                    <li data-target="#carousel-example-generic" data-slide-="" to="0" class="active"></li>

                    <li data-target="#carousel-example-generic" data-slide-="" to="1"></li>

                    <li data-target="#carousel-example-generic" data-slide-="" to="2"></li>

                </ol>

                <div class="carousel-inner">

                    <div class="item active">

                        <img class="slide-image" src="http://placehold.it/1140x350" alt="">

                    </div>

                    <div class="item">

                        <img class="slide-image" src="http://placehold.it/1140x350" alt="">

                    </div>

                    <div class="item">

                        <img class="slide-image" src="http://placehold.it/1140x350" alt="">

                    </div>

                </div>

                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">

                    <span class="glyphicon glyphicon-chevron-left"></span>

                </a>

                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">

                    <span class="glyphicon glyphicon-chevron-right"></span>

                </a>

            </div>

        </div>

    </div>

</div>
<!-- /.container class with content as the id -->


<div class="container">
    <div class="well well-sm">
        <strong>Responsive Product Grid Starter Template</strong>

    </div>


    <div class="grid">

        <div class="content">
            <ul class="rig columns-4">
                <li>
                    <a href="#"><img class="product-image" src="https://www.usa.canon.com/internet/wcm/connect/us/dba3e27c-5e21-4810-96b6-45e92985dcd5/me200ssh-3q-300x300.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_P1KGHJ01L85180AUEPQQJ53034-dba3e27c-5e21-4810-96b6-45e92985dcd5-lgfJMsd&amp;&amp;alt="></a>
                    <h4>Image Title</h4>
                    <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i><i class="active fa fa-star-o fa-2x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <div class="price"> $999.99</div>
                    <span style="text-decoration: line-through; color:red;">$1,399.99</span>
                    <hr>
                    <button class="btn btn-default btn-xs pull-right" type="button">
                        <i class="fa fa-cart-arrow-down"></i> Add To Cart
                    </button>
                    <button class="btn btn-default btn-xs pull-left" type="button">
                        <i class="fa fa-eye"></i> Details
                    </button>
                </li>
                <li>
                    <a href="#"><img src="https://www.usa.canon.com/internet/wcm/connect/us/14dc2051-1e57-4b0c-88c4-fd9ac0731203/lide110-300x300.jpg?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_P1KGHJ01L85180AUEPQQJ53034-14dc2051-1e57-4b0c-88c4-fd9ac0731203-l5Fo1Si&amp;&amp;alt="></a>
                    <h4>Image Title</h4>
                    <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i><i class="fa fa-star-o fa-2x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <div class="price"> $999.99</div>
                    <span style="text-decoration: line-through; color:red;">$1,399.99</span>
                    <hr>
                    <button class="btn btn-default btn-xs pull-right" type="button">
                        <i class="fa fa-cart-arrow-down"></i> Add To Cart
                    </button>
                    <button class="btn btn-default btn-xs pull-left" type="button">
                        <i class="fa fa-eye"></i> Details
                    </button>
                </li>
                <li>
                    <a href="#"><img src="http://images.frys.com/art/product/300x300/8789771.01.prod.jpg"></a>
                    <h4>Image Title</h4>
                    <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i><i class="fa fa-star-o fa-2x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <div class="price"> $999.99</div>
                    <span style="text-decoration: line-through; color:red;">$1,399.99</span>
                    <hr>
                    <button class="btn btn-default btn-xs pull-right" type="button">
                        <i class="fa fa-cart-arrow-down"></i> Add To Cart
                    </button>
                    <button class="btn btn-default btn-xs pull-left" type="button">
                        <i class="fa fa-eye"></i> Details
                    </button>
                </li>
                <li>
                    <a href="#"><img src="http://images.frys.com/art/product/300x300/8891512.01.prod.jpg"></a>
                    <h4>Image Title</h4>
                    <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i><i class="fa fa-star-o fa-2x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <div class="price"> $999.99</div>
                    <span style="text-decoration: line-through; color:red;">$1,399.99</span>
                    <hr>
                    <button class="btn btn-default btn-xs pull-right" type="button">
                        <i class="fa fa-cart-arrow-down"></i> Add To Cart
                    </button>
                    <button class="btn btn-default btn-xs pull-left" type="button">
                        <i class="fa fa-eye"></i> Details
                    </button>
                </li>
                <li>
                    <a href="#"><img src="http://images.frys.com/art/product/300x300/8331267.06.prod.jpg"></a>
                    <h4>Image Title</h4>
                    <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i><i class="fa fa-star-o fa-2x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <div class="price"> $999.99</div>
                    <span style="text-decoration: line-through; color:red;">$1,399.99</span>
                    <hr>
                    <button class="btn btn-default btn-xs pull-right" type="button">
                        <i class="fa fa-cart-arrow-down"></i> Add To Cart
                    </button>
                    <button class="btn btn-default btn-xs pull-left" type="button">
                        <i class="fa fa-eye"></i> Details
                    </button>
                </li>
                <li>
                    <a href="#"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ5ZyysxCXBjRrvOwDDO34f6lrHGpACo6zOEJGxx3iy_lKfcTuO1g"></a>
                    <h4>Image Title</h4>
                    <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i><i class="fa fa-star-o fa-2x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <div class="price"> $999.99</div>
                    <span style="text-decoration: line-through; color:red;">$1,399.99</span>
                    <hr>
                    <button class="btn btn-default btn-xs pull-right" type="button">
                        <i class="fa fa-cart-arrow-down"></i> Add To Cart
                    </button>
                    <button class="btn btn-default btn-xs pull-left" type="button">
                        <i class="fa fa-eye"></i> Details
                    </button>
                </li>
                <li>
                    <a href="#"><img src="http://images.frys.com/art/product/300x300/8331257.04.prod.jpg"></a>
                    <h4>Image Title</h4>
                    <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i><i class="fa fa-star-o fa-2x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <div class="price"> $999.99</div>
                    <span style="text-decoration: line-through; color:red;">$1,399.99</span>
                    <hr>
                    <button class="btn btn-default btn-xs pull-right" type="button">
                        <i class="fa fa-cart-arrow-down"></i> Add To Cart
                    </button>
                    <button class="btn btn-default btn-xs pull-left" type="button">
                        <i class="fa fa-eye"></i> Details
                    </button>
                </li>
                <li>
                    <a href="#"><img src="https://www.usa.canon.com/internet/wcm/connect/us/b7729990-dc2b-4609-b469-9661e0fa7af2/eos-c300pl-cinema-camera-300x300-v2.jpg?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_P1KGHJ01L85180AUEPQQJ53034-b7729990-dc2b-4609-b469-9661e0fa7af2-l1HTMdl&amp;&amp;alt="></a>
                    <h4>Image Title</h4>
                    <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half-o fa-2x"></i><i class="fa fa-star-o fa-2x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <div class="price"> $999.99</div>
                    <span style="text-decoration: line-through; color:red;">$1,399.99</span>
                    <hr>
                    <button class="btn btn-default btn-xs pull-right" type="button">
                        <i class="fa fa-cart-arrow-down"></i> Add To Cart
                    </button>
                    <button class="btn btn-default btn-xs pull-left" type="button">
                        <i class="fa fa-eye"></i> Details
                    </button>
                </li>
            </ul>
        </div>

        <div class="sidebar">

            <!-- Category List Start -->

            <h3>Categories</h3>

            <div class="list-group">

                <a href="category.html" class="list-group-item">Apparel &amp; Accessories</a>

                <a href="category.html" class="list-group-item">Baby Products</a>

                <a href="category.html" class="list-group-item">Beauty &amp; Health</a>

                <a href="category.html" class="list-group-item">Electronics</a>

                <a href="category.html" class="list-group-item">Furniture</a>

                <a href="category.html" class="list-group-item">Home &amp; Garden</a>

                <a href="category.html" class="list-group-item">Luggage &amp; Bags</a>

                <a href="category.html" class="list-group-item">Shoes</a>

                <a href="category.html" class="list-group-item">Sports &amp; Entertainment</a>

                <a href="category.html" class="list-group-item">Watches</a>

            </div>

        </div>
    </div>
    <!-- /.container class with content as the id-->


    <!-- Footer -->

    <div class="container">

        <hr>

        <footer>

            <div class="row">

                <div class="col-lg-12">

                    <p>Copyright © <a href="ecommerce.html">Black&amp;White Publishing</a> 2017</p>

                </div>

            </div>

        </footer>

    </div>
</div>