{% extends "base.html" %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      {% block breadcrumb_part %}{% endblock %}
  </ol>
</nav>
{% endblock %}

{% block topcontent %}
{% if object.background_img %}
<div class="row" id="product-list-image" style="background-image: url('{{ object.background_img_url }}')"></div>
{% endif %}
{% endblock topcontent %}

{% block content %}
<section>
  {% include('products/product_table.html') %}
</section>
{% endblock content %},