{% extends "base.html" %}
{% block content %}
<head>
     <style>
        .thumbnail {
			height: 200px;
			width: 200px;
			border: 2px solid #e97117;
			background-color: #f8f8ec;
			padding: 2em;
}
img.gambo_img {
  max-height: 150px;;
  height:auto;
  width:150px;

}


    </style>
</head>
<div id="attributes_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false">
        <div class="modal-dialog category-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
						<i class="uil uil-multiply"></i>
                    </button>
                </div>


            </div>
        </div>
    </div>

<div class="wrapper">

    <form  id="product-form" role="form" class="product-form1 clearfix needs-validation"  method="post"  action="{{ url_for('product.product_add_to_cart', id=product.id) }}"  enctype="multipart/form-data">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-dt-view">
							<div class="row">
								<div class="col-lg-4 col-md-4">
                                             <div class="product-text-dt">

                                                <h3>{{product.title}}</h3>
                                                  <div class="d-flex justify-content-center">
                                                     <div class="thumbnail">
                                                     <img src={{ product.image_url() }} class="gambo_img">
                                                     </div>
                                                    </div>
                                                <h4>{{product.description}}</h4>
                                                <div class="product-price"> {{product.basic_price}}</div>
                                                 <div class="product-price">{{Language["$"]}}</div>


         <div class="d-flex justify-content-center">

            <div class="quantity buttons_added">
                <input type="button" value="-" class="minus minus-btn">
                <input type="number" step="1" name="id_quantity" value="1" class="input-text qty text">
                <input type="button" value="+" class="plus plus-btn">
            </div>

            <span class="cart-icon"> <div><h4>{{Language["Add"]}} </h4></div><button><i class="uil uil-shopping-cart-alt"></i></button></span>
        </div>

    </div>
</div>

								<div class="col-lg-8 col-md-8">
									<div class="product-dt-right">

										<div class="no-stock">
											   {%  if product.is_in_stock or not product.need_check_stock%}

                                               {% else %}

                                               {% endif %}
										</div>


                                            {%  for variant_attributes in product.product_type.variant_attributes %}
                                           <div class="cate-header">
                                            <h4> {{Language["Select"]}}   {{ variant_attributes.title }}</h4>
                                             </div>
                                             <ul class="category-by-cat">
                                                 {%  for item in variant_attributes.values %}

                                                 {% if item.is_active %}
                                                <li>


                                                        <div class="icon">
                                                            <img src="{{item.image_url() }}" width="80" height="80">
                                                        </div>
                                                         <div>{{item.title}}</div>
                                                        <span> <input type="radio" id ="{{ variant_attributes.title }}" name="{{ variant_attributes.title }}" value="{{ item.id }}" required="required"  ></span>



                                                </li>
                                                 {% endif %}
                                                {% endfor  %}
                                             </ul>
                                            {% endfor %}




                                            <div class="pdp-details">
											<ul>

											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
    </form>
		<!-- Featured Products Start -->

		<!-- Featured Products End -->
	</div>

{% endblock %}