
{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    <div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{{url_for('public.home')}}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	<div class="product-list-view">
					<div class="row">
                        {% for product in products %}
						<div class="col-lg-3 col-md-6">
							{% include('products/gambo_product.html') %}
						</div>
					    {% endfor %}

					</div>
				</div>
</div>
{% endblock content %}