
	.dropdown-menu li{
		position: relative;
	}
	.dropdown-menu .submenu{
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.dropdown-menu .submenu-left{
		right:100%; left:auto;
	}


}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */


.dropdown-menu .dropdown-menu{
		margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;


}