{% import 'dashboard/_macros.html' as macros%}
{% import 'dashboard/_vendor.html' as vendor%}
<form method="POST" action="" enctype='multipart/form-data'>
<div class="address-fieldset">
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div class="form-group">
				 {{ macros.render_input_field2(form.contact_name,Language) }}
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="form-group">
				 {{macros.render_input_field2(form.city,Language) }}
			</div>
		</div>
		<div class="col-lg-12 col-md-12">
			<div class="form-group">
				{{macros.render_input_field2(form.address,Language) }}
			</div>
		</div>
		<div class="col-lg-12 col-md-12">
			<div class="form-group">
				{{ macros.render_input_field2(form.email,Language) }}
			</div>
		</div>
		<div class="col-lg-12 col-md-12">
			<div class="form-group">
				{{macros.render_input_field2(form.contact_phone,Language) }}

			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="form-group">
				 {{ macros.render_input_field2(form.company_name,Language) }}
			</div>
		</div>

		<div class="col-lg-12 col-md-12">
			<div class="form-group">
				<div class="address-btns">
					<input type="hidden" name="csrf_token" value="{{csrf_token()}}" />

					<button type="submit"  class="collapsed ml-auto next-btn16 hover-btn" >{{Language["send"]}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
</form>





