{% extends "base.html" %}
{% import '_macros.html' as macros %}
{% block content %}
<div class="">
			<div class="container">
				<div class="row">
				<div class="col-lg-3 col-md-4">
					{{macros.account_nav()}}
				</div>
					<div class="col-lg-9 col-md-8">
						<div class="dashboard-right">
							<div class="row">
								<div class="col-md-12">
									<div class="main-title-tab">
										<h4><i class="uil uil-box"></i>My Orders</h4>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									{% for order in orders %}
									<div class="pdpt-bg">
										<div class="pdpt-title">
											<h6>Created at: {{ order.created_at }}</h6>
										</div>
										<div class="order-body10">
											<ul class="order-dtsll">
												<li>
													<div class="order-dt-img">
														<img src="{{ url_for('static', filename='images/groceries.svg') }}" alt="">
													</div>
												</li>
												<li>
													<div class="order-dt47">
														<h4><a href="{{ order.get_absolute_url() }}" class="float-right link--styled">Details</a></h4>

														<div class="order-title"> {{ order.total_human }} Items <span data-inverted="" data-tooltip="2kg broccoli, 1kg Apple" data-position="top center">?</span></div>
													</div>
												</li>
											</ul>
											<div class="total-dt">
												<div class="total-checkout-group">
													<div class="cart-total-dil">
														<h4>Sub Total</h4>
														<span>${{order.total_net}}</span>
													</div>
													<div class="cart-total-dil pt-3">
														<h4>Delivery Charges</h4>
														<span>${{order.shipping_price_net}}</span>
													</div>
												</div>
												<div class="main-total-cart">
													<h2>Total</h2>
													<span>${{order.total_net}}</span>
												</div>
											</div>

										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}