{% extends "base.html" %}
{% import '_macros.html' as macros %}
{% block content %}
<div class="">
			<div class="container">
				<div class="row">

					<div class="col-lg-9 col-md-8">
						<div class="dashboard-right">
							<div class="row">
								<div class="col-md-12">

									<div class="welcome-text">
										<h2>Hi! {{ current_user }}</h2>
									</div>
								</div>
								<div class="col-lg-3 col-md-4">
									{{macros.account_nav()}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- Body End -->
{% endblock %}