{% extends "base.html" %}
{% import '_macros.html' as macros %}
{% block content %}
<div class="">
		<div class="jumbotron">
    <div class="text-center">
       {% for message in get_flashed_messages() %}
        <p>Error: {{ message }}</p>
        {% endfor %}

    </div>
</div>

    <div class="container">
        <div class="dashboard-group">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="user-dt">
							<div class="user-img">
								<img src="images/avatar/img-5.jpg" alt="">
								<div class="img-add">
									<input type="file" id="file">
									<label for="file"><i class="uil uil-camera-plus"></i></label>
								</div>
							</div>
							<h4>{{current_user }}</h4>
							<p><a href="#"><i class="uil uil-edit"></i></a></p>
                        </div>
					</div>
				</div>
			</div>
		</div>
				<div class="row">

					<div class="col-lg-9 col-md-8">
						<div class="dashboard-right">
							<div class="row">
								<div class="col-md-12">

									<div class="welcome-text">
										<h2>Hi! {{ current_user }}</h2>
									</div>
								</div>
								<div class="col-lg-3 col-md-4">
									{{macros.account_nav()}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- Body End -->
{% endblock %}