
{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% block content %}

	<div class="sign-inup">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="sign-form">
						<div class="sign-inner">

							<div class="form-dt">
								<div class="form-inpts checout-address-step">
									    <form action="{{url_for('account.set_password')}}" method="post" class="float-left input-btn">

										<div class="form-title"><h6>Request a Password Reset</h6></div>
                                        <div class="form-group pos_rel">

                                            {{ render_field(form.old_password) }}

										</div>
										<div class="form-group pos_rel">
											{{ render_field(form.password) }}
										</div>
										<div class="form-group pos_rel">
											{{ render_field(form.confirm) }}
										</div>
                                            		<input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
										<button class="login-btn hover-btn" type="submit">Reset Password</button>
									</form>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}