{% from 'bootstrap/form.html' import render_field %}
<form method="post" action="" id="loginForm" novalidate>
  <fieldset>
    {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </fieldset>
  <div class="row login__btn-group">
    <div class="col-sm-12">
      <button class="btn btn-primary narrow" type="submit">
        Log in
      </button>
      <a rel="nofollow" class="link--styled" href="">
        Forgot password?
      </a>

      <hr>


    </div>
  </div>
</form>