{% import 'dashboard/_macros.html' as macros%}
{% extends 'dashboard/dashboard_layout.html' %}


{% block content %}
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-style.css') }}">

</head>
 <div class="container-fluid">
                        <h2 class="mt-30 page-title">{{ identity }}</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a  href="{{ url_for('dashboard.index') }}">{{Language["Dashboard"]}}</a></li>
                            <li class="breadcrumb-item active">{{Language["Add Product"]}} </li>
                        </ol>
                        <div class="row justify-content-between">
							<div class="col-lg-12">
								<a href="{{url_for('dashboard.products')}}" class="add-btn hover-btn">{{Language["All products"]}}  </a>
							</div>
                        </div>
 </div>

                    <div class="container-fluid">
                    {% if form.title.data %}
                         <h2 class="mt-30 page-title">{{ form.title.data}}</h2>
                    {%  else %}
                        <h2 class="mt-30 page-title">{{Language[" Add New Product"]}} </h2>
                    {% endif %}
                        <div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">

									</div>
									 <form method="POST" action="" enctype='multipart/form-data'>

									<div class="card-body-table">
										<div class="news-content-right pd-20">
											{{macros.render_input_field(form.title,"text")}}

											{{macros.render_input_field(form.basic_price,"text")}}


                                            {{macros.render_select_field(form.category_id,categories)}}
                                            <div class="form-group">

                                              <div class="add-cate-img-1">
												  {% if form.current_img.data %}

                                                      <img src="{{form.current_img.data}}" width="70" height="70">
                                              		{% endif %}
											  </div>
                                                 {{ macros.render_file_field(form.images, form.images.data) }}

                                            </div>



                                       <table>
										 <tr>
											  <td>{{macros.render_boolean_field(form.is_active)}}</td>
                                             <td>{{macros.render_boolean_field(form.on_sale)}}</td>
												<td>{{macros.render_boolean_field(form.is_featured)}}</td>
											 <td>{{macros.render_boolean_field(form.in_front_banner)}}</td>


										 </tr>
                                           <tr>
                                                <td>{{macros.render_boolean_field(form.need_check_stock)}}</td>
                                           </tr>
									 </table>

									 </div>
                                      <div class="form-group">
                                          {% for item in attributes %}
                                            {{item.title }}
                                          {% endfor %}
										</div>



								<input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
								<button class="save-btn hover-btn" type="submit">{{Language["Submit"]}} </button>
								</div>

							</form>
										</div>
									</div>
								</div>
							</div>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>


{% endblock %}

