{% import 'dashboard/_macros.html' as macros%}
{% import 'dashboard/_vendor.html' as vendor%}
{% extends 'dashboard/layout.html' %}



{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/bootstrap-select.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>

<script src="{{ url_for('static', filename='build/dashboard/product_edit.js') }}"></script>

<script src="{{ url_for('static', filename='js/dashboard/bootstrap-select.js') }}"></script>
<script>
$(document).ready(function(){
  $('.custom-file-input').on('change',function(){
  var id= document.getElementById("formInputId").value;
  var fileName =  document.getElementById(id).files[0].name;
  document.getElementById("labelFile").innerHTML=fileName;
});
});
</script>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Product Step 2</h3>
                    </div>
                    <form method="POST" action="" enctype='multipart/form-data'>
                        <div class="card-body">
                            {{ form.hidden_tag() }}
                            <label>Type:</label> {{product_type}}
                            {{ vendor.render_field(form.title) }}
                            {{ vendor.render_field(form.basic_price) }}
                            {{ vendor.render_field(form.on_sale) }}
                            {{ vendor.render_field(form.is_featured) }}

                           {{ vendor.render_field(form.rating) }}
                            {{ vendor.render_field(form.sold_count) }}
                            {{ vendor.render_field(form.review_count) }}

                            {{ macros.render_select_field(form.category_id, categories) }}
                            {{ vendor.render_field(form.description) }}
                           <input type="text" id ="formInputId" value={{form.images.label.field_id}} hidden="true">

                            {{ macros.render_file_field(form.images, form.background_img) }}
                            {% if product_type.has_variants %}
                            {% set label_id = form.variant_attributes.label.field_id %}

                              <div class="form-group" id ="select_attributes" >
                                    <label >Variant Attributes</label>
                                   <select  name="{{ label_id }}"  class="selectpicker form-control"  data-live-search="true" required  multiple>
                                        {% for item in variant_attributes %}
                                                <option value={{item.id}}>{{ item.title }}</option>
                                         {% endfor %}
                                   </select>
                                </div>
                             {% endif %}
                            {% if product_type.has_attributes %}
                                 {{ macros.render_attribute_field(form.attributes, product_type.product_attributes) }}
                            {% endif %}
                             </div>
                            <div class="card-footer">
                                {{ macros.render_submit(form.submit) }}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}

{% block tail_js %}

{% endblock %}

