{% import 'dashboard/_macros.html' as macros%}
{% import 'dashboard/_vendor.html' as vendor%}
{% extends 'dashboard/layout.html' %}


{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/bootstrap-select.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>

<script src="{{ url_for('static', filename='build/dashboard/product_edit.js') }}"></script>

<script src="{{ url_for('static', filename='js/dashboard/bootstrap-select.js') }}"></script>
<script>

function hide()
{
  if (document.getElementById('HasAttributes').checked)
  {
    document.getElementById("select_attributes").hidden = false;
     $("#select1").attr('required', 'required');
  } else {
     document.getElementById("select_attributes").hidden = true;
     $("#select1").removeAttr('required');
  }
}

function manage_variants()
{
  if (document.getElementById('HasVariants').checked)
  {
    document.getElementById("select_variants").hidden = false;
     $("#select2").attr('required', 'required');
  } else {
     document.getElementById("select_attributes").hidden = true;
     $("#select2").removeAttr('required');
  }
}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                         <div class="card-header">
                             <h3 class="card-title">Create Product Step First--</h3>
                         </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                <form method="POST" action="" enctype='multipart/form-data'>
                        <div class="card-body">
                            {{ form.hidden_tag() }}
                            {{ vendor.render_field(form.title) }}

                            {% set label_id = form.has_attributes.label.field_id %}
                               <div class="form-group">
                                <div class="form-check">
                                  <input name="HasAttributes"  class="form-check-input"  type="checkbox" id="HasAttributes" onclick="hide()" value="false"  >
                                  <label class="form-check-label" >
                                    Has Attributes
                                  </label>
                                </div>
                               </div>
                                 {% set label_id = form.has_variants.label.field_id %}
                               <div class="form-group">
                                <div class="form-check">
                                  <input name="HasVariants"  class="form-check-input"  type="checkbox" id="HasVariants" onclick="manage_variants()" value="false"  >
                                  <label class="form-check-label" >
                                    Has Variants
                                  </label>
                                </div>
                               </div>




                                 {{ vendor.render_field(form.is_shipping_required) }}


                                {% set label_id = form.product_attributes.label.field_id %}
                                <div class="form-group" id ="select_attributes"  hidden="true">
                                    <label >Product Attributes</label>
                                   <select  id="select1" name="{{ label_id }}"  class="selectpicker form-control" data-max-options="2" hidden = "true" data-live-search="true" multiple>
                                        {% for item in attributes %}
                                                <option value={{item.id}}>{{ item.title }}</option>
                                         {% endfor %}
                                   </select>
                                </div>

                                <div class="card-footer">
                                    {{ macros.render_submit(form.submit) }}
                                </div>
                            </div>
                    </form>


            </div>
        </div>
    </div>
    </div>

<script>



</script>
</section>

{% endblock %}

