{% import 'dashboard/_macros.html' as macros%}
{% import 'dashboard/_vendor.html' as vendor%}
{% extends 'dashboard/dashboard_layout.html' %}
 {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-style.css') }}">

    <div class="container-fluid">
        <div class="row  mt-30">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Product Step 2</h3>
                    </div>
                    <form method="POST" action="" enctype='multipart/form-data'>
                        <div class="card-body">
                            {{ form.hidden_tag() }}
                            <label>Title:</label> {{product_type}}
                              <div class="card">
                              <div class="card-header">
                               Price
                              </div>
                              </div>

                             <div class="panel-body">
                              <ul class="add-menu-list">
                                    <li>
                                        {% set label_id = form.is_featured.label.field_id%}
                                        <div class="form-group">
                                            <label   class="control-label">
                                                <input name={{label_id}} id={{label_id}}   class="form-control" onclick="hide()" value="false" type="checkbox" >
                                               Is featured
                                            </label>
                                        </div>
                                    </li>
                                     <li>
                                        {% set label_id_2 = form.on_sale.label.field_id%}
                                        <div class="form-group">
                                            <label class="control-label">
                                                <input name={{label_id_2}} id={{label_id_2}} class="form-control"  type="checkbox"  value="false"  >
                                                On Sale
                                            </label>
                                        </div>
                                    </li>

                                    <li>
                                        {% set label_id_3 = form.in_front_banner.label.field_id%}
                                        <div class="form-group">
                                            <label class="control-label">
                                                <input name={{label_id_3}} id={{label_id_3}}  class="form-control" type="checkbox"  value="false"  >
                                                Front banner
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                             </div>
                                <div class="card">
                                  <div class="card-header">
                                   Category
                                  </div>
                                  <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                      {{ macros.render_select_field(form.category_id, categories) }}
                                      <footer class="blockquote-footer"><cite title="Source Title"></cite></footer>
                                    </blockquote>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                 Description
                                  </div>
                                  <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                      {{ vendor.render_field(form.description) }}
                                      <footer class="blockquote-footer"><cite title="Source Title"></cite></footer>
                                    </blockquote>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                 Upload Image
                                  </div>

                                </div>
                            {% if product_type.has_variants %}
                            {% set label_id = form.variant_attributes.label.field_id %}

                              <div class="form-group" id ="select_attributes" >
                                    <label >Variant Attributes</label>
                                   <select  name="{{ label_id }}"  class="selectpicker form-control"  data-live-search="true" required  multiple>
                                        {% for item in variant_attributes %}
                                                <option value={{item.id}}>{{ item.title }}</option>
                                         {% endfor %}
                                   </select>
                                </div>
                             {% endif %}
                            {% if product_type.has_attributes %}
                                 {{ macros.render_attribute_field(form.attributes, product_type.product_attributes) }}
                            {% endif %}
                             </div>
                            <div class="card-footer">
                                {{ macros.render_submit(form.submit) }}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

