{% import 'dashboard/_macros.html' as macros%}
{% import 'dashboard/_vendor.html' as vendor%}
{% extends 'dashboard/dashboard_layout.html' %}
 {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-style.css') }}">



    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-6">
           <form method="POST" action="">
			<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left text-center pd-20">
											<div class="customer_img">
												<img src="images/avatar/img-1.jpg" alt="">
											</div>
											<div class="shopowner-dt-left mt-4">

												<span class="right-dt">{{ vendor.render_field(form.username) }}</span>
											</div>
											<div class="shopowner-dt-left mt-4">

                                                <span class="right-dt"> {{ vendor.render_field(form.email) }}</span>
											</div>
                                           	<div class="shopowner-dt-left mt-4">

                                                 <span class="right-dt">{{ vendor.render_field(form.password) }}</span>
											</div>
                                             <div class="shopowner-dt-left mt-4">

                                                 <span class="right-dt">{{ macros.render_boolean_field(form.is_active) }}</span>
											</div>
                                            <div class="shopowner-dt-left mt-4">

                                                <span class="right-dt"> {{ vendor.render_field(form.created_at) }}</span>
											</div>
                                            <div class="shopowner-dt-left mt-4">

                                                <span class="right-dt"> {{ vendor.render_field(form.updated_at) }}</span>
											</div>
                                           <div class="shopowner-dt-list">
                                                 <span class="left-dt">Curren Roles</span>
                                                      <span class="right-dt">{% for role in roles %}{{ role.name }} {% endfor %} </span>
                                                 </div>


                                             <div class="select-status">

													<label for="role">Select a new role </label>
                                                    <div class="input-group">
														<select id="role" name="role"  class="form-control select">
                                                           <option value ="0"   selected> </option>
                                                          <option value ="1"   > Login</option>
                                                            <option value ="2"  > Editor</option>
                                                            <option value ="3"  > Operator</option>
                                                             <option value ="4"  > Admin</option>
                                                           </select>
                                                    </div>
                                             </div>

										</div>
									</div>
								</div>

            <div class="input-group-append">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button class="status-btn hover-btn" type="submit">Submit</button>
			</div>
           </form>

        </div>

    <
    </div>
    </div>

{% endblock %}