
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  	<!-- Stylesheets -->

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Frontend/css/style.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Frontend/vendor/OwlCarousel/assets/owl.carousel.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Frontend/vendor/OwlCarousel/assets/owl.theme.default.min.css') }}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
 <!-- Modal -->




<div id="category_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false">
        <div class="modal-dialog category-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
						<i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="category-model-content modal-content">
					<div class="cate-header">
						<h4>Select Category</h4>
					</div>
                    <ul class="category-by-cat">
                      <div class="row">
                          {% for item in categories %}
                         {% set row_number= loop.index-1 %}
                         {% if row_number % 3 ==0 %}
                           </div>
                            <div class="row">
                          {% endif %}
                           <div class="col">

                               <a href= "{{ item.get_absolute_url()}}" class="single-cat-item">
								<div class="icon">
									<img src={{item.get_background_img_AWS ()}} alt="">
								</div>
								<div class="text"> {{item.title}} </div>
                                   </a>

                           </div>
                          {% endfor %}
                            </div>


                    </ul>
					<div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>

            </div>
        </div>
    </div>

 <!-- Modal -->

<div id="search_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false">
        <div class="modal-dialog category-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
						<i class="uil uil-multiply"></i>
                    </button>
                </div>
                <input type="text" id="search_order" name="search_order" class="float-right form-control"  placeholder="Search">

            </div>
        </div>
    </div>
<div class="container sticky-top">
<row>
    <nav class="navbar  navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
        <a class="navbar-brand" href="#"> <div class="text-muted-1"><b>{{ settings['project_title'].value }}</b></div></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

    {% if current_user.is_authenticated %}


              <a  href="{{ url_for('checkout.cart_index') }}"> <i class="fa fa-shopping-cart" style='padding-left: 10px; padding-right: 10px;font-size:36px;color: white '></i>
               {% if current_user.is_authenticated and current_user_cart.quantity %}
                  <span >{{ current_user_cart.quantity }}</span>
                     {% else %}
                        <span >0</span>
                 {% endif %}
                 </a>

          {% endif %}



  <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="nav navbar-nav">
        <li class="active"><a class="nav-link" href="{{url_for('public.home')}}"><i class="fa fa-home" aria-hidden="true"></i>
        {{Language["Home"]}}</a></li>

           {% if current_user.is_authenticated %}

            <li class="nav-item"><a class="nav-link" href="{{ url_for('account.index') }}">{{Language["Your Account"]}}</a></li>

              {% if current_user.can_edit() %}
              <li><a  href="{{ url_for('dashboard.index') }}">{{Language["Dashboard"]}}</a></li>
              {% endif %}
              {% else %}
                <li><a href="{{ url_for('account.signup') }}">{{Language["Register"]}}</a></li>

               {% endif %}
          {% if current_user.is_authenticated %}
          <li>

                 <div class="col px-md-3"><a  href="{{ url_for('checkout.cart_index') }}"><i class="fa fa-shopping-cart" style='font-size:36px' aria-hidden="true"></i>
                     {% if current_user.is_authenticated and current_user_cart.quantity %}
                  <span >{{ current_user_cart.quantity }}</span>
                     {% else %}
                        <span >0</span>
                 {% endif %}
                 </a></div>
          </li>
          {% endif %}
           <li ><a href="#category_model" data-toggle="modal"> <i class="uil uil-apps"> </i>{{Language["Categories"]}}  </a></li>
          {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('account.logout') }}"><span class="glyphicon glyphicon-user"></span>{{Language["Log Out"]}}</a></li>
        {% else %}
          <li><a href="{{ url_for('account.login') }}"><span class="glyphicon glyphicon-log-in"></span>{{Language["Login"]}}</a></li>
        {% endif %}

      </ul>


</div>

</nav>


 </row>



<row>
 <div class="search-header">
					 <form  id="product-form" role="form" class="product-form1 clearfix needs-validation"  method="post"  action="{{ url_for('product.product_search') }}"  enctype="multipart/form-data">

							<input type="search" placeholder= {{Language["Search"]}} name="keyword" id="keyword">
							<button type="submit"><i class="fa fa-search"></i></button>
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						</form>
					</div>


</row>
</div>


<div class="container">
  <div class="jumbotron">
                        <div class="text-center">
                           {% for message in get_flashed_messages() %}
                            <p>{{ message }}</p>
                            {% endfor %}

                        </div>
                    </div>
 {% block content %}
{% endblock content %}

</div>

     <script src="{{ url_for('static', filename='Frontend/vendor/OwlCarousel/owl.carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='Frontend/vendor/semantic/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Frontend/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Frontend/js/custom.js') }}"></script>
    <script>

</script>
</body>
</html>

