
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title>Gambo - Index</title>

		<!-- Favicon Icon -->

		<!-- Stylesheets -->


	<!-- Stylesheets -->


		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/vendor/unicons-2.0.1/css/unicons.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/css/responsive.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/css/night-mode.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/css/step-wizard.css') }}">

		<link href="css/step-wizard.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/vendor/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/vendor/OwlCarousel/assets/owl.carousel.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/vendor/OwlCarousel/assets/owl.theme.default.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/vendor/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Gambo/HTML/Frontend/vendor/semantic/semantic.min.css') }}">



		<style>
	*{
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

h2{
    color: #2F8D46;
}
#form {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.finish {
    text-align: center
}

#form fieldset:not(:first-of-type) {
    display: none
}

#form .previous-step, .next-step {
    width: 100px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}



#form .previous-step:hover,
#form .previous-step:focus {
    background-color: #000000
}



#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}



#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar #step4:before {
    content: "4"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #fff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background:#f55d2c;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #2F8D46
}
.main_logo {
    margin-left: 5px !important;
	width: 210px !important;
}

.thumbnail {
	height: 200px;
	width: 200px;
	border: 2px solid #e97117;
	background-color: #f8f8ec;
	padding: 2em;
}
.alert.success {
  background-color: green;
}

.alert.error {
  background-color: red;
}

</style>
	</head>


	<!-- Category Model Start-->
	<div id="category_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false">
        <div class="modal-dialog category-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
						<i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="category-model-content modal-content">
					<div class="cate-header">
						<h4> {{Language["Select Category"]}} </h4>
					</div>
                    <ul class="category-by-cat">
						{% for item in categories %}
						<li>
							<a href="{{ item.get_absolute_url()}}"  class="single-cat-item">
								<div class="icon">
									<img  src={{item.get_background_img_AWS ()}}  width="100px" height="auto">
								</div>
								<div class="text"> {{item.title}} </div>
							</a>
						</li>
						{% endfor %}

                    </ul>

                </div>
            </div>
        </div>
    </div>
	<!-- Category Model End-->
	<!-- Search Model Start-->
	<div id="search_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false">
        <div class="modal-dialog search-ground-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
						<i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="category-model-content modal-content">
					<form  id="product-form" role="form" class="product-form1 clearfix needs-validation"  method="post"  action="{{ url_for('product.product_search') }}"  enctype="multipart/form-data">

					<div class="search-header">
						<input class="prompt srch10" type="search"  name="keyword" id="keyword"  placeholder="Search for products..">
						<button type="submit"><i class="uil uil-search"></i></button>
						  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

					</div>
					</form>

                </div>
            </div>
        </div>
    </div>
	<!-- Search Model End-->
	<!-- Cart Sidebar Offset Start-->
	<!-- Search Model End-->
	<!-- Cart Sidebar Offset Start-->

	<form method = "post" role="form" class="product-form1 clearfix needs-validation" action="{{ url_for('checkout.Cart_Checkout') }}"   enctype="multipart/form-data">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

		<div class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
		 {% if current_user_cart.lines %}
			<div class="bs-canvas-header side-cart-header p-3 ">
			<div class="d-inline-block  main-cart-title">{{Language["My Cart"]}}  <span>( {{current_user_cart.quantity}} {{Language["Items"]}}  )</span></div>
			<button  type="button"  class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
		</div>
			<div class="bs-canvas-body">
			<div class="cart-top-total">
				<div class="cart-total-dil">
					{% if business %}
					<h4>{{ business.name }}</h4>
					{% endif %}
					<span >{{Language["$"]}}  {{ current_user_cart.subtotal }}</span>
				</div>

			</div>
			<div class="side-cart-items">
				{% for line in current_user_cart.lines %}
				  {% include('checkout/cart_item.html') %}
				{% endfor %}
			</div>
		</div>
			<div class="bs-canvas-footer">
			<div class="cart-total-dil saving-total ">
				<h4>{{Language["Total"]}} </h4>
				<span class="total">{{ current_user_cart.subtotal }}{{Language["$"]}} </span>
			</div>

			<div class="main-total-cart">
				<div class="cart-radio m4-4">
						<h4>{{Language["collention"]}}   </h4>
							<ul >

								 {% for method in shipping_methods %}
								  <li>

									  <input type="radio" name="shipping_method" value="{{ method.id }}" id="shipping_{{ method.id }}" {% if loop.first %}checked{%endif%}>
										<label for="shipping_{{ method.id }}"> {{method.title}}:{{method.price}}{{Language["$"]}}</label>

								  </li>
								  {% endfor %}
							</ul>

					</div>

					<div class="cart-radio ml-9">
						<h4> {{Language["Payment"]}}   </h4>
					<ul class="kggrm-now">

								<li>
									<input type="radio" name="payment_method" value="Credit Card" id="payment_method_2" checked>
									<label for="payment_method_2">{{Language["Credit Card"]}}  </label>

								</li>


							</ul>
					</div>
				</div>

			<div class="checkout-cart">
				{% if current_user_cart.lines %}
				<div><button  type="submit" name="submitom" value="checkout" class="Offer-shop-btn hover-btn">{{Language["Proceed to Checkout"]}} </button>
			</div>
					<div><button  type="submit" name="submitom" value="Home" class="collapsed next-btn16 hover-btn">{{Language["Save changes"]}} </button></div>

				{% endif %}
			</div>


		</div>
	    {% else %}
		 <div class="cart__empty">
			<img src="{{ url_for('static', filename='img/empty-cart-bg.png') }}">
			<h2>There are no products in your shopping cart.</h2>

		 </div>
		{% endif %}

		</div>


</form>
	<div id="address_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false">
        <div class="modal-dialog category-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
						<i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="category-model-content modal-content">
					<div class="cate-header">
						<h4>Add New Address</h4>
					</div>
					<div class="add-address-form">
						<div class="checout-address-step">
							<div class="row">
								<div class="col-lg-12">
									<form class="">
										<!-- Multiple Radios (inline) -->
										<div class="form-group">
											<div class="product-radio">
												<ul class="product-now">
													<li>
														<input type="radio" id="ad1" name="address1" checked>
														<label for="ad1">{{Language["Home"]}}  </label>
													</li>
													<li>
														<input type="radio" id="ad2" name="address1">
														<label for="ad2">Office</label>
													</li>
													<li>
														<input type="radio" id="ad3" name="address1">
														<label for="ad3">Other</label>
													</li>
												</ul>
											</div>
										</div>
										<div class="address-fieldset">
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<div class="form-group">
														<label class="control-label">Flat / House / Office No.*</label>
														<input id="flat" name="flat" type="text" placeholder="Address" class="form-control input-md" required="">
													</div>
												</div>
												<div class="col-lg-12 col-md-12">
													<div class="form-group">
														<label class="control-label">Street / Society / Office Name*</label>
														<input id="street" name="street" type="text" placeholder="Street Address" class="form-control input-md">
													</div>
												</div>
												<div class="col-lg-6 col-md-12">
													<div class="form-group">
														<label class="control-label">Pincode*</label>
														<input id="pincode" name="pincode" type="text" placeholder="Pincode" class="form-control input-md" required="">
													</div>
												</div>
												<div class="col-lg-6 col-md-12">
													<div class="form-group">
														<label class="control-label">Locality*</label>
														<input id="Locality" name="locality" type="text" placeholder="Enter City" class="form-control input-md" required="">
													</div>
												</div>
												<div class="col-lg-12 col-md-12">
													<div class="form-group mb-0">
														<div class="address-btns">
															<button class="save-btn14 hover-btn">Save</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>


	<!-- Cart Sidebar Offsetl End-->
	<!-- Header Start -->


<header class="header clearfix">
		<div class="top-header-group">

				<div class="select_location">
					<a href="index.html"><img src={{ business.get_image() }} height="60px" width ="auto"></a>

				</div>

				<div class="search120">
					<form  id="product-form" role="form" class="product-form1 clearfix needs-validation"  method="post"  action="{{ url_for('product.product_search') }}"  enctype="multipart/form-data">


					<div class="ui search">
					  <div class="ui left icon input swdh10">
						<div class="search-header">
							<input class="prompt srch10" type="search"  name="keyword" id="keyword"  placeholder="Search for products..">
						<button type="submit"><i class="uil uil-search"></i></button>
						  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

						</div>

					  </div>
					</div>
					</form>
					</div>

				<div class="header_right">
					<ul>
						<li>
							<a href="#" class="offer-link"><i class="uil uil-phone-alt"></i>{{business.phone}}</a>
						</li>

						<li>
							<a href="{{ url_for('public.home') }}" class="offer-link"><i class="fa fa-home"></i>{{Language["Home"]}}   </a>
						</li>
						<li>
							<a href="{{ url_for('account.edit_address') }}" class="option_links" title="Wishlist"><i class="fa fa-address-card" aria-hidden="true"></i><span ></span></a>
						</li>
						<li class="ui dropdown">
							<a href="#" class="opts_account">
								<img  src="{{ url_for('static', filename='Gambo/HTML/Frontend/images/avatar/img-21.jpg') }}"   alt="">
								<span class="user__name">{{current_user.username}}</span>
								<i class="uil uil-angle-down"></i>
							</a>
							<div class="menu dropdown_account">
								<div class="night_mode_switch__btn">
									<a href="#" id="night-mode" class="btn-night-mode">
										<i class="uil uil-moon"></i> Night mode
										<span class="btn-night-mode-switch">
											<span class="uk-switch-button"></span>
										</span>
									</a>
								</div>
								{% if current_user.is_authenticated %}
								{% if current_user.can_edit() %}
								<a href="{{ url_for('dashboard.index') }}" class="item channel_item"><i class="uil uil-apps icon__1"></i>{{Language["Dashboard"]}}  </a>
								{% endif %}
								<a href="{{ url_for('account.user_orders') }}" class="item channel_item"><i class="uil uil-box icon__1"></i>{{Language["My Orders"]}} </a>
								<a href="{{ url_for('account.edit_address',show_cart=False ) }}" class="item channel_item"><i class="uil uil-location-point icon__1"></i>{{Language["My Addresses"]}}  </a>
								<a href="{{ url_for('public.home') }}" class="item channel_item"> <i class="fa fa-home  icon__1" aria-hidden="true"></i>{{Language["Home"]}}  </a>
								<a href="{{ url_for('account.set_password') }}" class="item channel_item"><i class="uil uil-info-circle icon__1"></i>{{Language["Your Password"]}}  </a>
								{% endif %}
								{% if current_user.is_authenticated %}
								<a href="{{ url_for('account.logout') }}" class="item channel_item"><i class="uil uil-lock-alt icon__1"></i>{{Language["Log out"]}}</a>
								{% else %}
									<a href="{{ url_for('account.login') }}" class="item channel_item"><i class="uil uil-lock-alt icon__1"></i>{{Language["Log in"]}} </a>
								{% endif %}
									</div>
						</li>
					</ul>
				</div>
			</div>

		<div class="sub-header-group">
			<div class="sub-header">
				<div class="ui dropdown">
					<a href="#" class="category_drop hover-btn" data-toggle="modal" data-target="#category_model" title="Categories"><i class="uil uil-apps"></i><span class="cate__icon">{{Language["Select Category"]}} </span></a>
				</div>
				<nav class="navbar navbar-expand-lg navbar-light py-3">
					<div class="container-fluid">
						<button class="navbar-toggler menu_toggle_btn" type="button" data-target="#navbarSupportedContent"><i class="uil uil-bars"></i></button>
						<div class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end bg-dark1 p-3 p-lg-0 mt1-5 mt-lg-0 mobileMenu" id="navbarSupportedContent">
							<ul class="navbar-nav main_nav align-self-stretch">
								<li class="nav-item"><a href="{{url_for('public.home')}}" class="nav-link active" title="Home">{{Language["Home"]}} </a></li>
								<li class="nav-item"><a href="{{url_for('product.show_on_sale')}}" class="nav-link new_item" title="New Products">{{Language["New Products"]}}  </a></li>
								<li class="nav-item"><a href="{{url_for('product.show_featured')}}" class="nav-link" title="Featured Products">{{Language["Featured Products"]}} </a></li>


							</ul>
						</div>
					</div>
				</nav>
				<div class="catey__icon">
					<a href="#" class="cate__btn" data-toggle="modal" data-target="#category_model" title="Categories"><i class="uil uil-apps"></i></a>
				</div>
				{% if business.is_working_now() %}
				<div class="header_cart order-1">
					<a href="#" class="cart__btn hover-btn pull-bs-canvas-left" title="Cart"><i class="uil uil-shopping-cart-alt"></i><span>{{Language["Cart"]}}</span><ins>{{ current_user_cart.quantity }}</ins><i class="uil uil-angle-down"></i></a>
				</div>
				{% endif %}
				<div class="search__icon order-1">
					<a href="#" class="search__btn hover-btn" data-toggle="modal" data-target="#search_model" title="Search"><i class="uil uil-search"></i></a>
				</div>
			</div>
		</div>



</header>



<div class="wrapper">
		<div class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

</div>
	{% if business.is_working_now() %}
	{% block content %}
	{% endblock content %}
	{% else%}
	<div class="d-flex justify-content-center"><h1>{{Language["Shop Closed"]}} </h1></div>

	{% endif %}
</div>

	<footer class="footer">
		<div class="footer-first-row">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">

					</div>
					<div class="col-md-6 col-sm-6">
						<div class="social-links-footer">
							<ul>


								<li><i class="uil uil-phone-alt"></i>{{business.phone}}</a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-second-row">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item">
							<h4> {{Language["Contact Information"]}} </h4>
							<ul>
								<li><i class="uil uil-phone-alt"></i>{{business.phone}}</a></li>
								<li>{{business.address}}</li>

							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item">
							<h4> {{Language["Site Navigation"]}} </h4>
							<ul>
								{% if current_user.is_authenticated %}
								{% if current_user.can_edit() %}
								<li><a href="{{ url_for('dashboard.index') }}" class="item channel_item"><i class="uil uil-apps icon__1"></i> {{Language["Dashboard"]}}  </a></li>
								{% endif %}
								<li><a href="{{ url_for('account.user_orders') }}" class="item channel_item"><i class="uil uil-box icon__1"></i>{{Language["My Orders"]}}   </a></li>
								<li><a href="{{ url_for('account.edit_address',show_cart=False ) }}" class="item channel_item"><i class="uil uil-location-point icon__1"></i>{{Language["My Addresses"]}} </a></li>
								<li><a href="{{ url_for('public.home') }}" class="item channel_item"> <i class="fa fa-home  icon__1" aria-hidden="true"></i>{{Language["Home"]}} </a></li>
								<li><a href="{{ url_for('account.set_password') }}" class="item channel_item"><i class="uil uil-info-circle icon__1"></i>{{Language["Your Password"]}} </a></li>
								{% endif %}
								{% if current_user.is_authenticated %}
								<li><a href="{{ url_for('account.logout') }}" class="item channel_item"><i class="uil uil-lock-alt icon__1"></i>{{Language["Log out"]}} </a></li>
								{% else %}
									<li><a href="{{ url_for('account.login') }}" class="item channel_item"><i class="uil uil-lock-alt icon__1"></i>{{Language["Log in"]}} </a></li>
								{% endif %}
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item">
							<h4> {{Language["Connections"]}} </h4>
							<ul>
								<li class="nav-item"><a href="{{url_for('public.home')}}" class="nav-link active" title="Home">{{Language["Home"]}} </a></li>
								<li class="nav-item"><a href="{{url_for('product.show_on_sale')}}" class="nav-link new_item" title="New Products">{{Language["New Products"]}}  </a></li>
								<li class="nav-item"><a href="{{url_for('product.show_featured')}}" class="nav-link" title="Featured Products">{{Language["Featured Products"]}} </a></li>

							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>

	</footer>
	<!-- Footer End -->

	<!-- Javascripts -->
	<script src="{{ url_for('static',  filename='Gambo/HTML/Frontend/js/jquery-3.3.1.min.js') }}"  ></script>
	<script   src="{{ url_for('static',  filename='Gambo/HTML/Frontend/vendor/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>
	<script   src="{{ url_for('static',  filename='Gambo/HTML/Frontend/vendor/OwlCarousel/owl.carousel.js') }}" ></script>
	<script   src="{{ url_for('static',  filename='Gambo/HTML/Frontend/vendor/semantic/semantic.min.js') }}" ></script>
	<script   src="{{ url_for('static',  filename='Gambo/HTML/Frontend/js/jquery.countdown.min.js') }}" ></script>
	<script   src="{{ url_for('static',  filename='Gambo/HTML/Frontend/js/custom.js') }}" ></script>
    <script   src="{{ url_for('static',  filename='Gambo/HTML/Frontend/js/offset_overlay.js') }}" ></script>
	<script   src="{{ url_for('static',  filename='Gambo/HTML/Frontend/js/night-mode.js') }}" ></script>
<script>
function remove_object(obj)
{
	 const vir = $(obj).closest(".cart-text").find('.input-text').val(0);
    $(obj).closest(".cart-item").hide()


}
function do_that()
{
	alert("helo")
}


function update_amounts()
{
    var sum = 0.0;

    $('.qty-group').each(function() {
        var qty = $(this).find('.input-text').val();
	    var price = $(this).find('.price').val();
        var amount = (qty*price)


		sum+= amount;
        $(this).find('.cart-item-price').html(amount);
    });
	$('.total').html(sum);
	//just update the total to sum

}
$(document).on('click', '.click_me_class', function(){

    var parentEl = $(this).parent('div');
    $(parentEl).find('.input-text').toggleClass('hide');
});
</script>
</body>
</html>