{% import 'dashboard/_macros.html' as macros%}
{% extends 'dashboard/layout.html' %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/dashboard/layout.css') }}">

{% block body %}
 <div class="container-fluid" style="background-color:grey>
<section class="content">
        <div class="row">
          {% for item in menus %}
             {% with children=item.children %}
             {% if not children %}
            <div class="col-4">
                <a class="info-box-config" href="{{item.get_url()}}">
                    <div class="info-box">
                        <span class="info-box-icon"><i class="fa fa-braille"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{item.title}}</span>
                            <span class="progress-description">

                            </span>
                        </div>
                    </div>
                </a>
            </div>

            {% endif %}
            {% endwith %}
           {% endfor %}
        </div>
</section>

          {% for item in menus %}
             {% with children=item.children %}
             {% if children %}
     <h1>{{item.title}}</h1>
            <section class="content" >
             <div class="row">
             {% for child in children %}
                 <div class="col-4">
                <a class="info-box-config" href="{{child.get_url()}}">
                    <div class="info-box">
                        <span class="info-box-icon"><i class="fa fa-braille"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{child.title}}</span>
                            <span class="progress-description">

                            </span>
                        </div>
                    </div>
                </a>
            </div>
             {% endfor %}
             </div>
            </section>
            {% endif %}
            {% endwith %}
           {% endfor %}
        </div>







{% endblock %}