{% extends 'dashboard/layout.html' %}
{% block body %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
          {% for item in menus %}
            <div class="col-4">
                <a class="info-box-config" href="{{item.get_url()}}">
                    <div class="info-box">
                        <span class="info-box-icon"><i class="fa fa-braille"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{item.title}}</span>
                            <span class="progress-description">

                            </span>
                        </div>
                    </div>
                </a>
            </div>
          {% endfor %}
        </div>

    </div>
    <!--/. container-fluid -->
</section>


{% endblock %}