{% import 'dashboard/_vendor.html' as vendor %}
{% extends 'dashboard/dashboard_layout.html' %}


 {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-style.css') }}">

 <div class="container-fluid">
                        <h2 class="mt-30 page-title">{{ identity }}</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a  href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
                            <li class="breadcrumb-item active">All {{ identity }}</li>
                        </ol>
                        <div class="row justify-content-between">
							<div class="col-lg-12">
								<a href="{{url_for('dashboard.{}_manage'.format(identity))}}" class="add-btn hover-btn">Add New</a>
							</div>
                        </div>
 </div>
  <div class="row">

							<div class="col-lg-8 col-md-7">
								<div class="all-cate-tags">
									<div class="row justify-content-between">

										<div class="col-lg-12 col-md-12">
											<div class="card card-static-2 mb-30">
												<div class="card-title-2">
													<h4> List- {{ identity }}</h4>
												</div>
												<div class="card-title-2">


													 	<form method = "POST"   class="product-form1 clearfix needs-validation" action="{{url_for('dashboard.{}'.format(identity))}}"   enctype="multipart/form-data">

												<table>
													<row>

														<td>

															 <input type="text" id="search_item" name="search_item" class="float-right form-control"  placeholder="Search">
														</td>

														<td>
															<button class="status-btn hover-btn" type="submit">Search </button>
															 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

														</td>
													</row>
														</table>
												</form>

												</div>

												<div class="card-body-table">
													<div class="table-responsive">
														<table id="myTable" class="table ucp-table table-hover">
															 <tr>
															{% for th in props.values() %}
																<th>{{th}}</th>
																{% endfor %}
															<th> Edit</th>
															<th>Del </th>
														</tr>
													   <tbody id="myTableBody">
															{% for item in items %}
																<tr>
																		{% for prop in props.keys() %}
																					<td>{{ item | attr(prop) }}</td>
																		{% endfor %}
																	<td >
																		<a href="{{url_for('dashboard.{}_manage'.format(identity), id=item.id)}}" class="edit-btn" title="Edit"><i class="fas fa-edit"></i></a>
																	</td>
                                                                    <td>
																		<a href="{{url_for('dashboard.{}_del'.format(identity), id=item.id)}}"><i class="fas fa-trash"></i></a>
																	</td>
                                                              </tr>
															{% endfor %}
															</tbody>
													</table>
													</div>
													 {{vendor.render_pagination(pagination, size='sm', align='left')}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
function searchTableColumns() {
      // Declare variables
      var input, filter, table, tr, i, j, column_length, count_td;
      column_length = document.getElementById('myTable').rows[0].cells.length;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 1; i < tr.length; i++) { // except first(heading) row
        count_td = 0;
        for(j = 1; j < column_length-1; j++){ // except first column
            td = tr[i].getElementsByTagName("td")[j];
            /* ADD columns here that you want you to filter to be used on */
            if (td) {
              if ( td.innerHTML.toUpperCase().indexOf(filter) > -1)  {
                count_td++;
              }
            }
        }
        if(count_td > 0){
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
      }

    }
</script>

{% endblock %}